<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '230345584072553');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=230345584072553&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<div class="container formTop">

			<div class="row">
				<div class="col-sm-9" style="margin-top:40px;">
					<center><h1 class="orangeHeader">Welcome to the 2018 Colorado Marathon!</h1></center>
          <break></break>
					<p>We’re so happy you’re back for another fun, energizing, and invigorating race with us here at the <a href="/">Colorado Marathon!</a> <a href="/results">Last year’s</a> race was awesome, filled with lots of training, support from our sponsors, and beautiful weather. Every year the race reminds us of how lucky we are to live in such a beautiful place, surrounded by inspirational people. Oh, memories!</p>

          <div class="col-sm-3">
  					<img style="width:100%; margin-top:10px;" src="img/blog_post1.jpg">
  				</div>
          <div class="col-sm-8" style="margin-top:10px;">
          <p>It is now 2018, which means the <a href="/">Colorado Marathon!</a> will be here soon! There are so many reasons to run a marathon, half marathon, relay, 10k, or 5k – including, but not limited to: getting into shape, running with a friend, or qualifying for the <a href="http://www.baa.org/races/boston-marathon.aspx">Boston Marathon</a>. Whatever your reason may be, we invite you and your friends to join us on May 6, 2018 to run your hearts out.</p>
          <p>If you haven’t run the <a href="/">Colorado Marathon!</a> before, we have some good news: it’s a gentle downhill race. A lot of our visitors who come from out of town for the race are from lower elevation, so don’t be discouraged if you’re coming from sea level. The Colorado Marathon is comprised of quite a few downhill sections making this a speedy course.</p>
          </div>
        </div>
        <div class="col-sm-9" style="margin-top:30px; margin-bottom:24px;">
			       <p>We have some really exciting news – we have a new finish to the course! The race will now end at Washington Park near Old Town, <a href="https://www.visitftcollins.com/">Fort Collins</a>.  After running for miles and miles, you will be able to enjoy your <a href="https://www.odellbrewing.com/">Odell Brewing Company</a> beer (for those over 21) while listening to live music in a beautiful shady park with a massive lawn - cheers!</p>
          <div class="col-sm-6" style="margin-top:20px;">
            <p>It may be a bit chilly out right now but <a href="http://www.runnersroostfc.com/">Runner’s Roost</a> can get you squared away with the proper cold weather running gear, so go check them out!</p>
            <p>We’d like to give a big thank you to our Title Sponsor, <a href="https://healthy.kaiserpermanente.org/">Kaiser Permanente!</a> For the fourth year in a row, Kaiser Permanente is partnering with us to bring you the best Colorado Marathon possible and we’re excited to work with them again in 2018! To learn more about KP’s work in improving the total health of our community, click here: <a href="https://share.kaiserpermanente.org/total-health/community-benefit/">Making Total Community Health A Reality</a>.</p>
          </div>
          <div class="col-sm-6">
  					<img style="width:70%; margin-top:10px; margin-bottom:20px;" src="img/blog_post2.jpg">
  				</div>
          <p>Whether you’re running this race to break a personal record, qualify for Boston, or just for the fun of it, we’re so happy you decided to join us! <a href="https://www.simpleracereg2.com/events/2018_colorado_marathon">Register</a> now because space is limited.  The <a href="/">Colorado Marathon</a> welcomes you to our exciting annual race this May 6, 2018. Be sure to follow us on <a href="https://www.instagram.com/coloradomarathon/">Instagram</a>, <a href="https://www.facebook.com/Coloradomarathon/">Facebook</a>, and <a href="https://www.facebook.com/Coloradomarathon/">Twitter</a> to find out about training material, race facts, and more.</p>
			</div>
</div>
