<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '230345584072553');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=230345584072553&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

    <div class="container formTop">
      <div class="row">
        <center><img style="width:60%; margin-top:10px;" src="img/kaiserblue.png"></center>
        <div class="col-sm-9" style="margin-top:40px;">
          <center><h1 class="orangeHeader">Self-Care for Runners</h1></center>
          <break></break>
          <p>Running is a physically demanding, high impact sport. Whether you’ve got 10 marathons under your belt, or you’re training for your very first 5k, a good self-care routine is essential to preventing injury. Here are a few self-care tips that will help keep you healthy and happy throughout the training process!</p>

          <div class="col-sm-12" style="margin-top:10px;">
          <p><b>Help Prevent Shin Splints</b></p>
          <p>Shin splints can be the painful and bothersome result of training to intensely too soon.</p>
          <p>Try these exercises to help strengthen the muscles around the Tibia (the shin bone)</p><br>
          <p><i>Duck Walks</i></p>
          <p>For each set, walk 20 to 30 feet on your heels.</p>
          <p>-Toes turned out (duck toed)</p>
          <p>-Toes turned in (pigeon toed)</p><br>
          <p><i>Calf stretch (pyramid pose)</i></p>
          <img style="width:30%" src="img/yoga1.png">
          <p>From standing, step the right leg back 2.5 feet. Be sure all ten toes, and both hip points face forward. Fold forward over straight legs. Hands can rest on the ground or on blocks for support. Switch legs when ready.</p>
          <br>
          <p><b>Post-Run Yoga Poses</b></p>
          <p>Yoga can be a runner’s best friend. Try these simple poses after a run to help release tension and keep the body flexible. Hold each pose for 30 seconds to 1 minute on each side.</p>
          <br>
          <p><i>Runner’s lunge</i></p>
          <p>Stack the right knee over ankle. Come to the pinky edge of the right foot. Place padding underneath extended left knee if needed. Hands or forearms come to the mat. Maintain a straight spine and don’t forget to breathe. You should feel this in the hip flexors and quads. Switch sides when ready.</p>
          <img style="width:30%" src="img/yoga2.png">
          <br><br>
          <p><i>Wide-leg forward fold</i></p>
          <p>Ground down through your sits bones. Legs are engaged, toes point straight upwards. Engage your core as you hinge from your hips to fold forward. You should feel the stretch across your groins, Hamstrings, and lower back.</p>
          <img style="width:30%" src="img/yoga3.png">
          <br><br>
          <p><i>Figure 4</i></p>
          <p>Lying on your back, plant the soles of your feet on the ground. Cross right ankle over the top of the left knee. If you’d like to intensify, reach through your legs and clasp your hands around the Hamstring or shin of the left leg. You should feel this in your gluts and piriformis muscle (underneath the gluts).</p>
          <img style="width:30%" src="img/yoga4.png">
          <br><br>
          <p><i>Hamstring stretch</i></p>
          <p>Lying on your back, extend right leg into the air, left leg extends long on the mat. Keep the low back rooting down into the ground as you clasp your hands around the Hamstring of the right leg. Keep shoulders and neck on the ground. Slowly, pull the leg towards you until you reach the threshold of your flexibility. Hold here and breathe. Switch legs when you’re ready.</p>
          <img style="width:30%" src="img/yoga5.png">
          <br><br><br>
          <p><b>Epsom Salt Baths</b></p>
          <p>Epsom salt baths are great after a training session. Try adding 4 cups of Epsom salts to warm/hot water and soak for at least 20 minutes. The magnesium content of the salts helps to ease inflammation in tissues and joints, and thus can help to reduce delayed onset muscle soreness (DOMS). Add essential oils for extra relaxation effect.</p>
          <br><br>
          <p><b>Self-Massage</b></p>
          <p>Regular self-massage can be a powerful tool to help eliminate muscle adhesions before they become an issue and to help prevent injury. All you need is a simple tennis ball! It’s important to remember that more is not necessarily better, and that while sensation is okay, pain is a clear indicator to back off. Be sure to listen to your body as you perform these exercises.</p>
          <br>
          <p><i>Feet</i></p>
          <p>To target the plantar fascia, gently roll the tennis ball across the sole of your foot. This can be done standing or seated if the pressure is too intense.</p>
          <br>
          <p><i>Upper back and shoulders</i></p>
          <p>Place tennis ball between spine and shoulder blades. Adjust pressure according to comfort.</p>
          <br>
          <p><i>Gluts</i></p>
          <p>Come to a comfortable seat. Begin by placing the tennis ball underneath your sit bones and roll gentle circles. Use your upper body to help dictate a comfortable pressure. Roll slow circles upwards and then along your iliac crest (hip bone) to help release the soft tissue.</p>
          <br>
          <p><i>IT Band</i></p>
          <p>Most folks use a foam roller to work out their IT bands. This can be a great tool! However, a tennis ball can be just as useful to release this band of connective tissue.</p>
          <img style="width:30%" src="img/yoga6.png">



			<div class="row">
				<div class="col-sm-12" style="margin-top:40px;">
					<center><h1 class="orangeHeader">Welcome to the 2018 Colorado Marathon!</h1></center>
          <break></break>
					<p>We’re so happy you’re back for another fun, energizing, and invigorating race with us here at the <a href="/">Colorado Marathon!</a> <a href="/results">Last year’s</a> race was awesome, filled with lots of training, support from our sponsors, and beautiful weather. Every year the race reminds us of how lucky we are to live in such a beautiful place, surrounded by inspirational people. Oh, memories!</p>

          <div class="col-sm-3">
  					<img style="width:100%; margin-top:10px;" src="img/blog_post1.jpg">
  				</div>
          <div class="col-sm-8" style="margin-top:10px;">
          <p>It is now 2018, which means the <a href="/">Colorado Marathon!</a> will be here soon! There are so many reasons to run a marathon, half marathon, relay, 10k, or 5k – including, but not limited to: getting into shape, running with a friend, or qualifying for the <a href="http://www.baa.org/races/boston-marathon.aspx">Boston Marathon</a>. Whatever your reason may be, we invite you and your friends to join us on May 6, 2018 to run your hearts out.</p>
          <p>If you haven’t run the <a href="/">Colorado Marathon!</a> before, we have some good news: it’s a gentle downhill race. A lot of our visitors who come from out of town for the race are from lower elevation, so don’t be discouraged if you’re coming from sea level. The Colorado Marathon is comprised of quite a few downhill sections making this a speedy course.</p>
          </div>
        </div>
        <div class="col-sm-9" style="margin-top:30px; margin-bottom:24px;">
			       <p>We have some really exciting news – we have a new finish to the course! The race will now end at Washington Park near Old Town, <a href="https://www.visitftcollins.com/">Fort Collins</a>.  After running for miles and miles, you will be able to enjoy your <a href="https://www.odellbrewing.com/">Odell Brewing Company</a> beer (for those over 21) while listening to live music in a beautiful shady park with a massive lawn - cheers!</p>
          <div class="col-sm-6" style="margin-top:20px;">
            <p>It may be a bit chilly out right now but <a href="http://www.runnersroostfc.com/">Runner’s Roost</a> can get you squared away with the proper cold weather running gear, so go check them out!</p>
            <p>We’d like to give a big thank you to our Title Sponsor, <a href="https://healthy.kaiserpermanente.org/">Kaiser Permanente!</a> For the fourth year in a row, Kaiser Permanente is partnering with us to bring you the best Colorado Marathon possible and we’re excited to work with them again in 2018! To learn more about KP’s work in improving the total health of our community, click here: <a href="https://share.kaiserpermanente.org/total-health/community-benefit/">Making Total Community Health A Reality</a>.</p>
          </div>
          <div class="col-sm-6">
  					<img style="width:70%; margin-top:10px; margin-bottom:20px;" src="img/blog_post2.jpg">
  				</div>
          <p>Whether you’re running this race to break a personal record, qualify for Boston, or just for the fun of it, we’re so happy you decided to join us! <a href="https://www.simpleracereg2.com/events/2018_colorado_marathon">Register</a> now because space is limited.  The <a href="/">Colorado Marathon</a> welcomes you to our exciting annual race this May 6, 2018. Be sure to follow us on <a href="https://www.instagram.com/coloradomarathon/">Instagram</a>, <a href="https://www.facebook.com/Coloradomarathon/">Facebook</a>, and <a href="https://www.facebook.com/Coloradomarathon/">Twitter</a> to find out about training material, race facts, and more.</p>
			</div>
</div>
