<div class="container formTop">
	<div class="row" id="top">
		<h3><a href="#boston">1.) Is the Colorado Marathon a Boston Qualifier?</a></h3>
		<h3><a href="#capped">2.) Will the race entries be capped?</a></h3>
		<h3><a href="#register">3.) How do I register?</a></h3>
		<h3><a href="#packet">4.) How do I get my packet?</a></h3>
		<h3><a href="#starts">5.) Where are the start lines and how do I get there?</a></h3>
		<h3><a href="#bus">6.) Do I have to take the bus?</a></h3>
		<h3><a href="#expo">7.) How do I get to the packet pickup & expo?</a></h3>
		<h3><a href="#aid">8.) How many aid stations are on the marathon course?</a></h3>
		<h3><a href="#serve">9.) What will be served at the aid stations?</a></h3>
		<h3><a href="#headphones">10.) Are MP3 players (headphones) allowed?</a></h3>
		<h3><a href="#refund">11.) What is the refund policy?</a></h3>
		<h3><a href="#switch">12.) Can I switch races?</a></h3>
		<h3><a href="#timelimit">13.) What are the course cutoffs?</a></h3>
		<h3><a href="#bag">14.) Will there be a bag check so I can retrieve my bag at the finish?</a></h3>
		<h3><a href="#lodging">15.) Where can I stay in Fort Collins?</a></h3>
		<h3><a href="#parking">16.) Where can we find parking on race morning?</a></h3>
		<h3><a href="#busing">17.) How do I get to the bus loading on race morning?</a></h3>
		<h3><a href="#merch">18.) Where can I buy event merchandise?</a></h3>
		<h3><a href="#drive">19.) How can I drive the course?</a></h3>
		<h3><a href="#locations">20.) Where are the best locations to see the race?</a></h3>
		<h3><a href="#altitude">21.) I live at low altitude and am unsure about racing in Colorado.  What can I expect?</a></h3>
		<h3><a href="#certified">22.) Is the marathon course certified and what is the certification number?</a></h3>
		<h3><a href="#awards">23.) What are the overall and age group awards?</a></h3>
	</div>

	<div class="row">
		<h3 id="boston" class="orangeHeader">1.) IS THE COLORADO MARATHON A BOSTON QUALIFIER?</h3>
		<p>Yes it is. In fact, all marathons that have a certified course are Boston qualifiers. Our course happens to be one of the most successful at providing qualifying performances. The Colorado Marathon has qualified roughly 16-18% of all entrants each year.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="capped" class="orangeHeader">2.) WILL THE RACE ENTRIES BE CAPPED?</h3>
		<p>For the safety of our race participants, the entry numbers will be capped to control the numbers at the Half Marathon and Marathon starting lines. We would love to be able to let everyone in, but safety requires that we limit the field. The number of participants is capped at 1700 for the Marathon, 1,500 for the Half Marathon, 700 for the 10K, and 300 for the 5K. Register early to ensure a spot.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="register" class="orangeHeader">3.) HOW DO I REGISTER?</h3>
		<p>Online registration for 2017 is now open. <a href="https://simpleracereg2.com/events/2017_colorado_marathon" target="_blank">Sign up here</a> to ensure entry for 2017 year's race.</p>
		<p>The Colorado Marathon is an environmentally concious event, thus we will only have online registration in an effort to reduce the environmental impact of paper waste and other resources. Thank you for your support. </p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="packet" class="orangeHeader">4.) HOW DO I GET MY PACKET?</h3>
		<p>See packet pick-up and expo information on the <a href="/raceinfo">race information page</a>.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="starts" class="orangeHeader">5.) WHERE ARE THE START LINES AND HOW DO I GET THERE?</h3>
		<p>The 10k start is just west of the Rio Grande Restaurant on Mountain Avenue, between Mason St. and Howes St., in the heart of Old Town Fort Collins, approximately 300 yards from the event finish line located at Walnut Street and Linden.</p>
		<p>The Marathon start is in the Cache La Poudre Canyon at Steven's Gulch, approximately 17 miles up the Canyon from the intersection with State Highway 287. Event provided luxury buses will depart from the parking lot at Remington Street and Oak Street for the Marathon. There is free parking in the surface level lot and also in the parking garage one block to the North at the intersection of E. Mountain Avenue and Remington Street. NO access to the marathon start is available through the Poudre Canyon. There is no parking available at the marathon start. Any runners dropped off by cars accessing the marathon start via the Canyon highway will be disqualified.For more information on busing <a href="/raceinfo">click here</a>.</p>
		<p>The Half Marathon start is located at the Half Marathon point for the Marathon. The Half Marathon start can ONLY be accessed by the buses provided by the race. Buses to the start leave from the Fort Collins Transportation Center at Mason and Laporte Streets. Free parking is available at the parking structure at the same intersection. NO access to the Half Marathon start is available through the Poudre Canyon. Any runners dropped off by cars accessing the Half Marathon start via the Canyon highway will be disqualified. For more information on busing <a href="/raceinfo">click here</a>.</p>
		<p>The 5K start is located 3.1 miles from the finish on the main marathon course and is only accessed by the bus. For more information on busing <a href="/raceinfo">click here</a>.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="bus" class="orangeHeader">6.) DO I HAVE TO TAKE THE BUS?</h3>
		<p>All competitors in the Marathon, Half Marathon and 5K MUST ride the buses. No parking is available at the starts. Any runner being dropped off via the Canyon highway will be disqualified. For more information on busing <a href="/raceinfo">click here</a>.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="expo" class="orangeHeader">7.) HOW DO I GET TO THE PACKET PICKUP & EXPO?</h3>
		<p>For information on packet pick-up and expo <a href="/raceinfo">click here</a>.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="aid" class="orangeHeader">8.) HOW MANY AID STATIONS ARE ON THE MARATHON COURSE?</h3>
		<p>There will be 12 <a href="/raceinfo">MARATHON AID STATION</a> aid stations roughly every other mile. There will be port-o-lets and basic first aid kits at each one. There will also be HAM or cell phone communications for emergencies at each aid.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="serve" class="orangeHeader">9.) WHAT WILL BE SERVED AT THE AID STATIONS?</h3>
		<p>All Aid Stations will have Eldorado Springs water and Nuun Electrolyte Enhanced Drink. Honey Stinger Energy Gels will be available at the Bagel Hill Aid Station - Mile 19.1 View the description of each <a href="/raceinfo">MARATHON AID STATION</a>.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="headphones" class="orangeHeader">10.) ARE MP3 PLAYERS (HEADPHONES) ALLOWED?</h3>
		<p>In order to protect the safety of race participants, MP3 Players, IPods or other devices with headphones are highly discouraged. Participants who choose to wear such devices assume all risks associated.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="refund" class="orangeHeader">11.) WHAT IS THE REFUND POLICY?</h3>
		<p>The event does not refund, transfer or roll forward an entry fee.</p>
		<p>Note: An entrant may not transfer their entry to another person.</p>
		<p>We have a strict NO REFUND and NO TRANSFER policy, no exceptions (injury/pregnant/called out of town unexpectedly/etc...) You are welcome to pickup your goody bag and race shirt, or have someone pick those items up for you, if you are not running.</p>
		<p><strong>It is against race policy to give your bib to someone else.</strong></p>
		<p>Running with someone else's bib number is a safety and liability issue for race staff and medical personnel, unfair to those who didn't get to sign up before registration closed, and alters race results, sometimes depriving a deserving award winner of their medal. Anyone running under an incorrect number will be disqualified from the race and may be banned from future Colorado Marathon events.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="switch" class="orangeHeader">12.) CAN I SWITCH RACES?</h3>
		<p>If you are already registered for a race you are allowed to switch to a shorter distance. For example, a marathoner is permitted to switch to the half marathon, 10K, or 5K. This difference in race fees is not refundable.</p>
		<p>The option to change your race distance will be available in February of 2017. A $20 change fee will apply.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="timelimit" class="orangeHeader">13.) WHAT ARE THE COURSE CUTTOFFS?</h3>
		<p>A participant has 6 hours to complete the marathon (13:44 per mile) and the half marathon (27:28 per mile). Walkers are welcome if the course can be completed on time.  Additional cutoffs for the marathon are 3:15 (9:45 am) at the half marathon point, 4:15 (10:45 am) at Ted's Place (approximately mile 17) and 5:15(11:45 am) at the turnoff to the bike path (approximately mile 21). No baby strollers or wheeled conveyances are allowed, except in the 10k.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="bag" class="orangeHeader">14.) WILL THERE BE A BAG CHECK SO THAT I CAN RETRIEVE MY BAG AT THE FINISH?</h3>
		<p>The Marathon, Half Marathon and 5K will have a bag check/retrieval. We'll do the best job we can to see that your bag is safely returned to you at the finish line. However, we strongly suggest that you bring nothing breakable or valuable with you to the start. We are not responsible for anything that you check as we have 2500 bags to move in only a short time. Small bags would be appreciated.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="lodging" class="orangeHeader">15.) WHERE CAN I STAY IN FORT COLLINS?</h3>
		<p>For information on lodging <a href="/raceinfo">click here</a>.</p>
		<p>The Hilton Fort Collins located at 425 West Prospect Road in Fort Collins is the official host hotel and location of the Packet Pickup Expo for the Colorado Marathon.</p>
		<p>There are numerous affiliated hotels that offer special rates. For a list of thse hotels visit the <a href="/raceinfo">race information page</a>.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="parking" class="orangeHeader">16.) WHERE CAN WE FIND PARKING ON RACE MORNING?</h3>
		<p>The parking structure adjacent to the bus loading area is convenient for participants and spectators. It's located at the corner of Mason and Laporte streets. If you're coming from outside Fort Collins, take the highway 14 (Mulberry St.) exit (#269) and travel West to College Avenue. Turn right (North) on College Ave and proceed 1/2 mile to Laporte Street. Turn left (West) and go one block. The parking structure is on the southeast corner of the intersection. Additional parking can be found throughout downtown but the parking structure is convenient both to the bus loading area and the finish line. <strong>Parking is FREE on Sundays.</strong></p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="busing" class="orangeHeader">17.) HOW DO I GET TO THE BUS LOADING ON RACE MORNING?</h3>
		<p>Visit the <a href="/raceinfo">race information page</a> for more information.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="merch" class="orangeHeader">18.) WHERE CAN I BUY EVENT MERCHANDISE?</h3>
		<p>The Colorado Marathon apparel is available at the expo on race weekend and through Runners Roost afterwards.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="drive" class="orangeHeader">19.) HOW CAN I DRIVE THE COURSE?</h3>
		<p>All but the last 5 miles of the course is accessible by car prior to race day (please note, no cars will be allowed in the canyon on race day). To drive the Marathon course, head north on College Avenue (this is also highways 287 and 14). The road will turn west as it leaves Fort Collins. Follow it for about another mile until you come to the highway 287 fork (it turns to the northwest in a gradual right turn).</p>
		<p>Stay on highway 287 until you reach the left turn (to the west) for highway 14 and the Poudre Canyon. This corner is, roughly, the 17 mile mark of the marathon. Proceed up the Canyon to both the Half Marathon start (at Gateway Park) and to the Marathon start (at Steven's Gulch). If you look carefully, mile markers should be visible as painted numbers on the north side of the road. Retracing your route to the corner of highways 287 and 14 (the 17 mile mark), to see the rest of the course turn right (south) on highway 287.</p>
		<p>The course then follows highway 287 to the intersection with County Road 54G, approximately 1.3 miles. Take a right (south) and follow the county road up and over the course's only hill. Follow the road into the City of Laporte to Cache La Poudre Junior High. From this point it is approximately 5.5 miles to the finish line, and the course follows the Poudre West Bike Path (running on the west and south side of the school, then southeast following the Cache La Poudre River) to Linden Street in downtown Fort Collins. The last 600m of the course leaves the bike path at Linden St. and turns southwest on Linden proceeding to the finish at the northeast end of the downtown walking mall and the corner of Linden and Walnut Streets. The finish line is roughly 120 feet northeast of the intersection on Linden Street.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="locations" class="orangeHeader">20.) WHERE ARE THE BEST LOCATIONS TO SEE THE RACE?</h3>
		<p>No cars, except local residents, will be allowed in the Cache La Poudre Canyon during the race. Unfortunately, safety of the participants prevents our allowing anyone on the first 15 miles of the course of the marathon and the first five miles of the Half Marathon.</p>
		<p><b>No spectators will be allowed to park at or near the intersection of 287 and 54G.  Please plan to spectate from either Ted's Place or the Cache La Poudre Junior High (below)</b></p>
		<h3><strong>The 16 Mile Mark, (Ted's Place)</strong></h3>
		<p>The corner of highways 14 and 287 is an excellent first chance location to see the race. From downtown Fort Collins, head north on College Avenue (this is also highways 287 and14). The road will turn west as it leaves Fort Collins. Follow it for about another mile until you come to the highway 287 fork (it turns to the northwest in a gradual right turn). Stay on highway 287 until you reach the left turn (to the west) for highway 14 and the Poudre Canyon. This corner is, roughly, the 16 mile mark of the marathon. Parking is available on the northwest corner of the intersection. Please be cautious of the runners on the south side of the road.</p>
		<h3><strong>The 21 mile mark, (Cache La Poudre Junior High)</strong></h3>
		<p>The course follows a fairly narrow road into the city of La Porte and it's not recommended that spectators follow the course. However, easy access to the next spectator point can be found by following highway 287 back toward Fort Collins (southeast). Look for county road 21 (North Overland Trail Road) which forms an intersection with highway 287 at the top of a hill. Turn right (south) and follow the county road into the City of La Porte.</p>
		<p>Proceed to the traffic light, the intersection of county road 21 and the race course, county road 54G, and turn right. Go west through the City of Laporte. Travel about 400m and the school will be on the south side of the road (on your left). This same location can be reached directly from Fort Collins by heading north on College Avenue (this is also highways 287 and14). The road will turn west as it leaves Fort Collins. Stay on the road, heading west, until you reach the City of La Porte. The first traffic light you come to will be the intersection of county road 21 and county road 54G.</p>
		<h3><strong>The 23 mile mark, (Taft Hill Road intersection with the Poudre West Bike Path)</strong></h3>
		<p>From the City of La Porte, follow highway 14 another mile east to its intersection with Taft Hill Road. This same intersection can be reached directly from Fort Collins by heading north on College Avenue (this is also highways 287 and14). The road will turn west as it leaves Fort Collins. Stay on the road, heading west, until you reach the intersection with Taft Hill Road (roughly 1.5 miles after you turn west on College Ave.)</p>
		<p>Turn south on Taft Hill Road and continue for a little more than a mile, crossing over the Poudre River. Trail parking will be on the east side of Taft Hill Road. Please approach this trail intersection carefully as you can expect a lot of car traffic and pedestrian activity.</p>
		<h3><strong>The 26 Mile Mark, (The Finish)</strong></h3>
		<p>The finish is located on the northeast end of the downtown mall. From the parking structure near the bus loading area, walk east on Laporte St. across College Avenue and into Walnut St., walk one more block and you're there.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="altitude" class="orangeHeader">21.) I LIVE AT LOW ALTITUDE AND AM UNSURE ABOUT RACING IN COLORADO. WHAT CAN I EXPECT?</h3>
		<p>Human physiology is variable and so is the reaction to altitude. Everyone will run a little slower because there is less oxygen at 6,000 feet than there is at sea level; however, the degree to which it will affect you is dependent on your own lung capacity, oxygen exchange rate, the size of your heart, the muscle composition of your legs, and a myriad of other factors (some of which are probably not measurable or obvious, at all). That's no direct help to you, we know... and not the answer you were looking for.</p>
		<p>The good news is that our course is VERY fast. The downhill will mitigate much of the altitude handicap and for most people there will be enough help left over to run a faster marathon than they might at low altitude. Everyone enjoys the scenery and we have yet to receive comments from low altitude runners where they tell us they were disappointed in coming. We hope you enter, run, and have a great time in Fort Collins. We'll do our best to see that you do. That's what our race is all about. If you do decide to come to "Fort Fun" and race in May, here's some suggestions on dealing with the altitude:</p>
		<ul style="list-style-type:disc;">
			<li>Make sure you stay well hydrated through the entire event. Most of us know that drinking fluids during a long race is important, but at altitude it is VITAL. Drink plenty of replacement fluid before, during, and after the marathon. Drinking replacement fluid is better than plain water. On rare occasions people have "overdosed" on plain water. Replacement fluid has enough electrolytes to keep your body in balance and it's safe to drink copious amounts. Our race offers water and replacement fluid on the course and there will be plenty at the finish and the starting lines.</li>
			<li>Be very conservative with anaerobic stress. Even living and training at 5000 feet we know that when we get into oxygen debt at higher altitudes it's really tough to get back out. You should be cautious about running any harder than what feels reasonably comfortable. That's a pretty tough task if you're running a mean uphill or racing closely with another person, but it's very important. Our race is down hill and flat with one moderate hill at 17 miles (6 miles in the Half Marathon) so you won't encounter any tough or nasty sections in either event.</li>
			<li>Be as fit and rested as you can be when you arrive. This may seem obvious as it's good advice before any race, but in an altitude marathon it's even more important. The best way to be prepared is to be well rested and to have done lots of aerobic work and hill training. This, of course, includes a good diet and adequate sleep in the last few weeks before the race.</li>
			<li>Some people find it helpful to take an aspirin or two before bedtime. Sleeplessness is a common complaint of "flatlanders" at altitude and for those of us who aren't aspirin sensitive it's a good idea to take some before bedtime. Many people feel it's an effective way of fighting the sleeplessness that accompanies a trip to higher altitude.</li>
			<li>Finally, have a conservative race plan. Run the downhill at a pace that's easy, relaxed, and that you know you can match on the flatter parts of the course. The Poudre Canyon road offers very "runnable" down hill and by running it at a conservative pace you save your strength and energy for the last miles of the race... and that's the real magic of the Colorado Marathon course.</li>
		</ul>
		<a href="#top">BACK TO TOP</a>

		<h3 id="certified" class="orangeHeader">22.) IS THE MARATHON COURSE CERTIFIED AND WHAT IS THE CERTIFICATION NUMBER?</h3>
		<p>Yes it is. The current USATF course certification number is CO 15007DCR.</p>
		<a href="#top">BACK TO TOP</a>

		<h3 id="awards" class="orangeHeader">22.) WHAT ARE THE OVERALL AND AGE GROUP AWARDS?</h3>
		<p>Awards given out on race day will be based on gun time, not chip time.</p>
		<h3><strong>Marathon</strong></h3>
		<p>Top 5 Male/Female overall, Top 3 Male/Female Masters and Grand Masters;</p>
		<p>Top 3 in following age groups: 19-24, 25-29, 30-34, 35-39, 40-44, 45-49, 50-54, 55-59, 60-64, 65-69, 70+</p>
		<p>(All Marathon finishers will receive a finisher medal and a collector's finisher print.)</p>
		<h3><strong>Half Marathon</strong></h3>
		<p>Top 5 Male/Female overall, Top 3 Male/Female Masters and Grand Masters;</p>
		<p>Top 3 in following age groups: 19 & under, 20-24, 25-29, 30-34, 35-39, 40-44, 45-49, 50-54, 55-59, 60-64, 65-69, 70+ </p>
		<p>(All Half Marathon finishers will receive a finisher medal and a collector's finisher print.) </p>
		<h3><strong>10K</strong></h3>
		<p>Top 3 Male/Female Overall, Top Master and Grand Master;</p>
		<p>Top 3 in following age groups: 19 & under, 20-29, 30-39, 40-49, 50-59, 60-69, 70+</p>
		<p>(All 10k finishers will receive a collector's finisher print.)</p>
		<h3><strong>5k</strong></h3>
		<p>Top 3 Male/Female Overall, Top Master and Grand Master.</p>
		<p>(All 5k finishers will receive a collector's finisher print.)</p>
		<a href="#top">BACK TO TOP</a>
	</div>
</div>
