<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '230345584072553');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=230345584072553&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<div class="container formTop">
    <div class="row">
        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="https://www.coopersmithspub.com" target="_blank"><img class="sponsors" src="img/cs_2018.png"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.kaiserpermanente.org" target="_blank"><img class="sponsors" src="img/kaiser_2018.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="http://www.odellbrewing.com/" target="_blank"><img class="sponsors" src="img/odell.jpg"></a>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="https://www.riograndemexican.com/locations/fort-collins/" target="_blank"><img class="sponsors" src="img/rio_2018.png"></a>
            </div>
            <div class="col-md-4">
                <a href="http://www.runnersroostfc.com/" target="_blank"><img class="sponsors" src="img/rr_2018.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.honeystinger.com/" target="_blank"><img class="sponsors" src="img/honey_2018.jpg"></a>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top:20px;">
          <div class="col-md-4">
              <a href="https://hellofresh.com" target="_blank"><img class="sponsors" src="img/hellofresh_2018.jpg"></a>
          </div>
          <div class="col-md-4">
              <a href="https://www.nuunlife.com" target="_blank"><img class="sponsors" src="img/nuun_2018.png">
          </div>
          <div class="col-md-4">
              <a href="https://www.heatherkirchhoff.com" target="_blank"><img class="sponsors" src="img/heather.jpg"></a>
          </div>
        </div>

        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="http://www.ColoradoInMotion.com" target="_blank"><img class="sponsors" src="img/coinmotion.png"></a>
            </div>
            <div class="col-md-4">
                <a href="http://www.monumentmarathon.com/" target="_blank"><img class="sponsors" src="img/monument_2018.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="http://www.vitaminwater.com/" target="_blank"><img class="sponsors" src="img/vitamin_2018.jpg"></a>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="https://www.clubpilates.com/oldtown/" target="_blank"><img class="sponsors" src="img/pilates_2018.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.coloradoan.com/" target="_blank"><img class="sponsors" src="img/coloradoan_2018.png"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.renewalbyandersen.com" target="_blank"><img class="sponsors" src="img/renewal_2018.jpg"></a>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
              <a href="https://rtpr.com" target="_blank"><img class="sponsors" src="img/realtime_2018.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.revolution-running.com/fort-collins.html" target="_blank"><img class="sponsors" src="img/revolution_2018.png"></a>
            </div>
            <div class="col-md-4">
              <a href="https://www.etsy.com/shop/uneeklyu" target="_blank"><img class="sponsors" src="img/uneekly_2018.jpg"></a>
            </div>
          </div>
          <div class="col-sm-12" style="margin-top:20px;">
              <div class="col-md-4">
                <a href="https://www.teamrwb.org/" target="_blank"><img class="sponsors" src="img/rwb_2018.jpg"></a>
              </div>
              <div class="col-md-4">
                <a href="https://www.cheyenne.org/race/" target="_blank"><img class="sponsors" src="img/cheyenne_2018.png"></a>
              </div>
          </div>
        </div>

    </div>
</div>
