<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '230345584072553');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=230345584072553&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<div class="container formTop">

			<div class="row">
				<div class="col-sm-12" style="margin-top:40px;">
					<h1 class="orangeHeader">Helping the Colorado Marathon Give Back!</h1>
					<p>The Colorado Marathon is in its 16th year. Over the years we have donated over $140,000 to local and national charities and other beneficiaries. We partner with numerous beneficiaries every year in an effort to put on a great event. Our beneficiary groups provide necessary volunteers and other resources required to pull off an event of this size while earning money for their organization. It's simply a win-win partnership.</p>
					<h1 class="orangeHeader">Recent Donations</h1>
					<div class="row">
						<div class="col-sm-6">
							<p>FoCo Cafe</p>
							<p>St. Joes Catholic School/Youth Ministry</p>
							<p>Lower Poudre Canyon Association</p>
							<p>American Diabetes Association</p>
							<p>Athletes in Tandem</p>
							<p>Junior League of Fort Collins</p>
							<p>HAM Operators – Northern Colorado ARES</p>
							<p>Loveland Road Runners</p>
							<p>Berthoud HS Cross Country Team</p>
							<p>Mackenzie's Mission</p>
							<p>Project Self Sufficiency</p>
							<p>CSU Air Force ROTC Detachment</p>
						</div>
						<div class="col-sm-6">
							<p>Fort Collins HS Cross Country & Basketball</p>
							<p>Poudre School District - SWAP</p>
							<p>Sanctuaries of the Earth Mother</p>
							<p>Colorado Cougers Cross Country Club</p>
							<p>Poudre Canyon Fire Protection District</p>
							<p>Environmental Learning Center</p>
							<p>New Vision Charter School</p>
							<p>Team Red White & Blue</p>
							<p>Loveland Classical School</p>
							<p>St. Joe's</p>
							<p>Samburu Youth Education Fund</p>
							<p>Sustainable Living Fair</p>
						</div>
					</div>
					<h1 class="orangeHeader"><a href="/contact">Contact Us!</a></h1>

				</div>
			</div>
</div>
