<div class="container">
	<div class="row">
		 <div class="col-md-12">
		 	<div class="pull-left">
		 		<a href="/">Back</a>
		 	</div>
		 </div>
    </div>
    <div class="row">
		<div class="col-md-12">
			<h2>GENESIS: THE FEDERAL CUP 5K ROAD RACE</h2>
			<p>
The Federal Cup 5 Kilometer run and walk is the oldest event to promote fitness for federal government employees and military personnel in the United States. What follows is a historical account of the race’s very beginning.<br/><br/>

 In the spring of 1983 the U.S. General Services Administration (GSA) Employees Association sponsored an event called the “Denver Federal Center (DFC) Fun Run,” which featured a 5 kilometer, 10 kilometer, and 1 mile series of foot races on the grounds of the DFC in Lakewood, Colorado. Although the entire event had only 38 participants, one of participants that day saw the potential for something bigger and better.<br/><br/>

Bruce Kirschner, Western Area Power Administration (Western) employee and winner of the DFC 5 kilometer race, had recently moved to Colorado and was already an active volunteer for the Broomfield (Colorado) Road Runners. He had already learned the mechanics of road race management and recognized the strengths and weaknesses of the GSA event.<br/><br/>

Although the events were touted as 5k and 10k events, the DFC loop courses had not been professionally measured and certified for either distance and appeared to be short. The good news was that the GSA Employees Association was clearly on the right track and Kirschner knew that the concept of a race on the DFC targeted at federal employees was a great one and began plans for a new event the following year.<br/><br/>

He settled on the 5k distance since people would be more likely to run a shorter race and like the GSA event, it would be targeted at federal civilian employees, those serving in the U.S. military, and their immediate family members to promote physical fitness, encourage friendly competition, and boost worker morale. He also knew he needed help and ideas.<br/><br/>

He recruited coworker Vincent Newton from WAPA and running buddy Adrian Treon, the winner of the GSA DFC 10K and Richard Leek the GSA employee who helped stage the DFC Fun Run and was winner of its 1 mile race. The Federal Cup race concept was beginning to take off. The event would feature competition by teams fielded by participating Federal agencies. The overall team winner would receive the “Federal Cup,” a traveling trophy that would be passed on each year to the succeeding team winner. Race sponsors would be sought for awards to be presented, including the actual Federal Cup, other trophies, and prizes for the top overall finishers. The event would be promoted as heavily as possible using agency public affairs offices and distribution of a hard copy flyer in an era where the Internet was virtually unheard of.<br/><br/>

Kirschner and the others recruited more volunteers to support the race organization from WAPA. Early volunteers included Western’s Roland Erickson, Carol Myron, Mary (Rood) Ray, and Dave Swanson.<br/><br/>

The inaugural race day was set for April 28, 1984, which would hopefully provide favorable weather conditions. The Credit Union of Denver signed on as a sponsor and contributed funds for the purchase of trophies, including the Federal Cup itself. The course was certified by Rocky Mountain Road Runner president Tom Bailey.<br/><br/>

Kirschner’s wife, Janet Lowe, who was also an experienced race organizer, would handle race day registration duties. However, she was 8 months pregnant with their first child and was told by her doctor the day before the debut race that there might be complications with her baby’s delivery — and that she better stay home and rest until she underwent testing the following week. She never made it to the race (but did deliver a healthy baby boy 3 weeks later).<br/><br/>

When Kirschner showed up at the DFC early on race day the weather conditions were not favorable. It was a blustery day: the wind was blowing pretty hard. It was cold, with temperatures in the low 40s, and overcast, with the omnipresent threat of rain. Volunteers hobbled together race day registration that morning in Janet Lowe’s absence.<br/><br/>

Most people wore sweatshirts and sweatpants to the starting line, which was held just south of the DFC’s Bicentennial Park. There were 79 runners lined up for the first ever Federal Cup 5k Road Race…no walking event, no fun run for the kids – just one solitary event. There were a grand total of 8 teams, all in one “open” category, including two each from the U.S. Bureau of Mines and the U.S. Bureau of Reclamation. The Bureau of Reclamation’s Sam Wolfe blazed the path as first Federal Cup overall finisher in 16:13. Cathy Lucatvorto, also of the Bureau of Reclamation, took command of the women’s field, finishing in 20:48. The Bureau of Mines “Crawdads,” (composed of team captain Fred Allgaier, Chris Dyni, Al Fejes, and Dave George) became the first team to finish and, hence, the first holders of the Federal Cup trophy.<br/><br/>

Kirschner had realized right away that by setting the race later in the year it would be more likely to have better weather. From then on the Fed Cup (as it became to be called) was held in mid-May and billed as a tune-up for those planning on running the Bolder Boulder on Memorial Day. A generous prize drawing was held before the awards ceremony. In subsequent years a shorter running event was held for children. A timed event for racewalkers was also added eventually. The number of team categories grew. Additional sponsors, such as King Soopers, became major race supporters.<br/><br/>

The race had quickly taken on a life of its own. Before long Kirschner’s original vision for a race event to be managed and administered by volunteers representing many Federal agencies came to fruition. He continued to serve as race director in the early years of the Fed Cup until his doctoral studies at the University of Colorado took precedence. Larry Von Thun, a U.S. Bureau of Reclamation employee, succeeded Kirschner in the late 1980s as race director. Von Thun was first in a long line of very able Fed Cup race directors, including Renee Varin Potratz and Devin Croft, who succeeded in taking the event to a new level – bringing it to the truly professional and completely financial self-sustaining event it is today — all the while keeping to the original spirit and intent of the race: to have a fun and low-cost fitness event that honors the entire U.S. Government workforce and their families.<br/><br/>

			</p>
		</div>

	</div>
</div>