<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '230345584072553');
fbq('track', 'PageView');
fbq('track', 'Lead');
fbq('track', 'Purchase', {value: '1.00', currency: 'USD'});
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=230345584072553&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<div>
	<div class='page-header' id="heightAdjust">
				<h1 class="titleText pull-left topImage"><img class="bannerimg" src="img/COmarathonBanner.jpg"> </h1>
				<div class="countdownContainer pull-right">
					<noscript>
						<div align="center" class="noCountdown">
						</div>
					</noscript>
					<script type="text/javascript" src="http://mycountdown.org/countdown.php?cp2_Hex=148c0b&cp1_Hex=ffffff&img=-5&hbg=0&fwdt=150&lab=1&ocd=Race&text1=The Colorado Marathon&text2=The Colorado Marathon&group=My Countdown&countdown=Race&widget_number=3015&event_time=1462120860&timezone=UTC">
					</script>
				</div>
				<div id="slides" >
					<div >
						<img class="slideimage" src="img/Banner1.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner2.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner3.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner4.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner5.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner6.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner7.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner8.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner9.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner10.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner11.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner12.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner13.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner14.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner15.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner16.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner17.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner18.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner19.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner20.jpg">
					</div>
          <div >
						<img class="slideimage" src="img/Banner21.jpg">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 pull-right">
						<a href="https://twitter.com/comarathon" target="_blank"><img class="twitter" src="img/twitter.png"/></a>
						<a href="https://www.instagram.com/coloradomarathon" target="_blank"><img class="twitter" src="img/instagram.png"/></a>
						<a href="https://www.facebook.com/Coloradomarathon" target="_blank"><img class="twitter" src="img/facebook.png"/></a>
					</div>


				</div>
	</div>


	<div class="container centered topSpace">
		<div class="row">
			<div class="col-md-6">
        <div class="centeredText">
            <h2 class="orangeHeader">Online registration is now open! <a href="https://simpleracereg2.com/events/2019_colorado_marathon" target="_blank">Sign up here!</a> to ensure your entry!</h2>
      	</div>

				<p>Sign up for our <a href="https://app.icontact.com/icp/core/mycontacts/signup/designer/form/?id=40&cid=1588949&lid=15642" target="_blank">newsletter </a>
					&
					<a href="https://www.facebook.com/Coloradomarathon/timeline/" target="_blank">Facebook </a>to get the latest news and updates. </p>
				<div class="row">
					<div class="col-md-3">
						<img class="homeImage centered" src="img/boston.jpeg">
					</div>
					<div class="col-md-9">
						<h3>  Certified <strong>Boston</strong> Qualifier!</h3>
					</div>
					<div class="col-md-12">
					<p>The Kaiser Permanente Team Challenge will award the team with the most combined registrants in the 2019 races.  Kaiser Permanente will make a donation to the approved charity of that team's choice.  Enter your team name during registration to be part of this challenge!</p>
				</div>
				</div>

			</div>
			<div class="col-md-6">
				<h3 class="orangeHeader">Experience the Colorado Marathon!</h3>
				<p>Watch <strong>The Colorado Marathon</strong> and experience the course in action.</p>
				<iframe class="marathonvideo"  src="https://www.youtube.com/embed/U4aRkqowex8"  allowfullscreen></iframe>
				<div class="row">
					<div class="col-md-3">
						<img class="homeImage centered" src="img/bestofcompetitor2013.jpeg">
					</div>
					<div class="col-md-9">
						<p>Voted <strong>"Best Marathon"</strong> in the Mountain Region four years in a row!</p>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="row">

			<div class="col-md-6">
				<h1 class="orangeHeader">Sign up for Email Updates</h1>
				<h2></h2>
			</div>

		</div>-->
	</div>
</div>
