<div>
	<div class='page-header' id="heightAdjust">
				<h1 class="titleText pull-left topImage"><img class="bannerimg" src="img/COmarathonBanner.jpg"> </h1>
				<div class="countdownContainer pull-right">
					<noscript>
						<div align="center" class="noCountdown">
						</div>
					</noscript>
					<script type="text/javascript" src="http://mycountdown.org/countdown.php?cp2_Hex=148c0b&cp1_Hex=ffffff&img=-5&hbg=0&fwdt=150&lab=1&ocd=Race&text1=The Colorado Marathon&text2=The Colorado Marathon&group=My Countdown&countdown=Race&widget_number=3015&event_time=1462120860&timezone=UTC">
					</script>
				</div>
				<div id="slides" >

					<div >
						<img class="slideimage" src="img/Banner1.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner2.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner3.jpg">
					</div>
										<div >
						<img class="slideimage" src="img/Banner4.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner5.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner6.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner7.jpg">
					</div>
					<div >
						<img class="slideimage" src="img/Banner8.jpg">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 pull-right">
						<a href="https://twitter.com/comarathon" target="_blank"><img class="twitter" src="img/twitter.png"/></a>
						<a href="https://www.instagram.com/coloradomarathon" target="_blank"><img class="twitter" src="img/instagram.png"/></a>
						<a href="https://www.facebook.com/Coloradomarathon" target="_blank"><img class="twitter" src="img/facebook.png"/></a>
					</div>


				</div>
	</div>


	<div class="container centered topSpace">
		<div class="row">
			<div class="col-md-6">
				<h3 class="orangeHeader">Race Announcements</h3>
				<p>Registration for the May 7th, 2017 Colorado Marathon opens on July 1st, 2016.</p>
				<p>Sign up for our newsletter &
					<a href="https://www.facebook.com/Coloradomarathon/timeline/" target="_blank">Facebook </a>to get the latest news and updates. </p>
				<div class="row">
					<div class="col-md-12">
					<button class="register">
					<a href="https://simpleracereg2.com/events/2017_colorado_marathon" target="_blank" style="color:white;">Register Now!</a>
					</button>
				</div>
					<div class="col-md-3">
						<img class="homeImage centered" src="img/boston.jpeg">
					</div>
					<div class="col-md-9">
						<h3>  Certified <strong>Boston</strong> Qualifier!</h3>
					</div>
					<div class="col-md-12">
					<p>The Kaiser Permanente Team Challenge will award the team with the most combined registrants in the 2017 races.  Kaiser Permanente will make a $500 donation to the approved charity of that team's choice.  Enter your team name during registration to be part of this challenge!</p>
				</div>
				</div>

			</div>
			<div class="col-md-6">
				<h3 class="orangeHeader">Experience the Colorado Marathon!</h3>
				<p>Watch <strong>The Colorado Marathon</strong> and experience the course in action.</p>
				<iframe class="marathonvideo"  src="https://www.youtube.com/embed/U4aRkqowex8"  allowfullscreen></iframe>
				<div class="row">
					<div class="col-md-3">
						<img class="homeImage centered" src="img/bestofcompetitor2013.jpeg">
					</div>
					<div class="col-md-9">
						<p>Voted <strong>"Best Marathon"</strong> in the Mountain Region!</p>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="row">

			<div class="col-md-6">
				<h1 class="orangeHeader">Sign up for Email Updates</h1>
				<h2></h2>
			</div>

		</div>-->
	</div>
</div>
