<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '230345584072553');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=230345584072553&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<div style="padding:20px;" class="formTop">
			<div class="row">
				<h1 class="centeredText animateTitle">Lodging</h1>
				<div class="col-md-6">
						<h2 class="orangeHeader">Host Hotel</h2>
						<h3><a href="http://www3.hilton.com/en/hotels/colorado/hilton-fort-collins-FNLCOHF/index.html" target="_blank">Hilton Fort Collins</a></h3>
						<p><i>425 W. Prospect Rd</i></p>
						<p><i>Fort Collins, CO</i></p>
						<p>(970) 482-2626 </p>
						<br>
						<h3><a href="http://www.hilton.com/en/hi/groups/personalized/F/FNLCOHF-MCL-20170505/index.jhtml?WT.mc_id=POG" target="_blank">Book your room here at the marathon rate.</a></h3>
						<br>
						<p>The Hilton Fort Collins is the host hotel and Packet Pickup & Expo for the 2017 Colorado Marathon. Limited rooms available, book early!.</p>
						<h3>Busing for Guests staying at the Host Hotel</h3>
						<p>Event provided buses for the full and half marathon will pick up participants staying at the Hilton Fort Collins only</p>
						<p>Departure from Hilton Fort Collins is as follows: </p>
						<p class="importantMessage">Marathon: 4:30AM</p>
						<p class="importantMessage">Half Marathon: 5:00AM</p>

				</div>
				<div class="col-sm-6">
					<img style="width:100%; margin-top:50px;" src="img/hilton.jpeg">
				</div>
			</div>
			<div class="row">
					<h2 class="orangeHeader">Affiliated Hotels</h2>
					<p>The following hotels have partnered with the Colorado Marathon to offer our participants discounted rates. Please make sure to confirm directly with the hotel you have received your special rate as a guest of the Colorado Marathon.</p>
				<div class="col-sm-4">
						<h3><a href="www.qualityinn.com" target="_blank">Quality Inn and Suites</a></h3>
						<p><i>4001 S. Mason St. </i></p>
						<p><i>Fort Collins, CO 80525</i></p>
						<p>Phone (970) 282-9047 </p>
						<p>Fax (970) 282-4473 </p>
						<br>
						<p>Start date: 5/2/15</p>
						<p>End date: 5/3/15</p>
						<p>Last day to book by: 4/3/15</p>
						<p>Special Colorado Marathon rate: $129 USD per night</p>
				</div>
				<div class="col-sm-4">
						<h3><a href="www.marriot.com" target="_blank">Courtyard Fort Collins</a></h3>
						<p><i>1200 Oakridge Drive</i></p>
						<p><i>Fort Collins, CO 80525</i></p>
						<p>Phone (970) 282-1700</p>
						<p>Fax (970) 282-1777</p>
						<p>Toll-free (800) 471-2138</p>
						<br>
						<p>Start date: 5/1/15</p>
						<p>End date: 5/3/15</p>
						<p>Last day to book by: 4/3/15</p>
						<p>Special Colorado Marathon rate: $159 USD per night</p>
				</div>
				<div class="col-sm-4">
						<h3><a href="www.bwui.com" target="_blank">Best Western University Inn</a></h3>
						<p><i>914 S. College Avenue</i></p>
						<p><i>Fort Collins, CO 80524</i></p>
						<p>(970) 484-1984</p>
						<p>Toll-free (888) 484-2984</p>
						<br>
						<p>Special rates for Colorado Marathon Saturday, May 6, 2017 $149.00 plus tax per night.  Includes breakfast and free internet access.  Individuals must call the hotel directly and identify themselves with the Colorado Marathon  in order get the discounted group rate.  Based upon availability.</p>
						<h3><a href="ttp://book.bestwestern.com/bestwestern/groupSearch.do?groupId=S94CD3Z0" target="_blank">Book your reservation directly on line</a></h3>
						<p>Use Group ID for Colorado Marathon:  S94CD3Z0</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" style="margin-top:40px;">

					<p>Whether you're visiting for a day or a week, Fort Collins offers you plenty of choices for fun. We'll show you where to shop, where to hike, and where to dance. </p>
					<p>For more information about Fort Collins, Colorado, visit the <a href="www.ftcollins.com" target="_blank">Fort Collins Web Site</a>.</p>

				</div>
			</div>
		</div>
