<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '230345584072553');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=230345584072553&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<div style="padding:20px;" class="formTop">
			<div class="row">
				<h1 class="centeredText animateTitle">Lodging</h1>
				<div class="col-md-6">
						<h2 class="orangeHeader">Host Hotel</h2>
						<h3><a href="http://www.hilton.com/en/hi/groups/personalized/F/FNLCOHF-MCM-20180503/index.jhtml?WT.mc_id=POG" target="_blank">Hilton Fort Collins</a></h3>
						<p><i>425 W. Prospect Rd</i></p>
						<p><i>Fort Collins, CO</i></p>
						<p>(970) 482-2626 </p>
						<br>
						<h3><a href="http://www.hilton.com/en/hi/groups/personalized/F/FNLCOHF-MCM-20180503/index.jhtml?WT.mc_id=POG" target="_blank">Book your room here at the marathon rate.</a></h3>
						<br>
						<p>The Hilton Fort Collins is the host hotel and Packet Pickup & Expo for the 2017 Colorado Marathon. Limited rooms available, book early!.</p>
						<h3>Note that there will be no busing for Guests staying at the Host Hotel this year as the Hilton has discontinued the shuttle service.</h3>

				</div>
				<div class="col-sm-6">
					<img style="width:40%; margin-top:50px;" src="img/hilton.jpeg">
				</div>
			</div>
			<div class="row">
					<h2 class="orangeHeader">Affiliated Hotels</h2>
					<p>The following hotels have partnered with the Colorado Marathon to offer our participants discounted rates. Please make sure to confirm directly with the hotel you have received your special rate as a guest of the Colorado Marathon.</p>
				<div class="col-sm-2">
						<h3><a href="https://www.choicehotels.com/colorado/fort-collins/quality-inn-hotels/co153" target="_blank">Quality Inn and Suites University</a></h3>
						<p><i>4001 S. Mason St. </i></p>
						<p><i>Fort Collins, CO 80525</i></p>
						<p>Phone (970) 282-9047 </p>
						<br>
						<p>Start date: 5/4/18</p>
						<p>End date: 5/7/18</p>
						<p>Last day to book by: 4/13/18</p>
						<p>Special Colorado Marathon rate: $134 USD per night</p>
            <p>Group Name: Colorado Marathon 2015</p>
            <p>Group Code: ZB8WB3</p>
            <h3><a href="https://www.choicehotels.com/reservations/groups/ZB8WB3" target="_blank">Book your reservation directly on line here</a></h3>
				</div>
				<div class="col-sm-2">
						<h3><a href="https://www.theelizabethcolorado.com" target="_blank">The Elizabeth Hotel</a></h3>
						<p><i>111 Chestnut Street</i></p>
						<p><i>Fort Collins, CO 80524</i></p>
						<p>Phone (970) 490-2600</p>
						<br>
						<p>Start date: 5/4/18</p>
						<p>End date: 5/7/18</p>
						<p>Last day to book by: 04/16/18</p>
						<p>REDUCED PRICES! Special Colorado Marathon rate: $199 for a king room - $209 for a double queen room per night</p>
            <p>The Elizabeth Hotel, an Autograph Collection by Marriott located in downtown Fort Collins, Colorado. The Elizabeth is the only 4-star hotel within a 65 mile radius.
            <p>The 164 room hotel features locally curated art, a vibrant lobby bar and upscale roof top lounge. It is the closest hotel to both the finish line and bus pickup locations.
						<h3><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Colorado%20Marathon%5EFTCAK%60colcola%7Ccolcolb%60199.00-209.00%60USD%60false%604%605/4/18%605/7/18%604/16/18&app=resvlink&stop_mobi=yes" target="_blank">Book your reservation directly on line</a></h3>
        </div>
				<div class="col-sm-2">
						<h3><a href="http://www.bwui.com" target="_blank">Best Western University Inn</a></h3>
						<p><i>914 S. College Avenue</i></p>
						<p><i>Fort Collins, CO 80524</i></p>
						<p>(970) 484-1984</p>
						<br>
            <p>Last day to book by: 04/05/18
						<p>Special rates for Colorado Marathon Saturday, May 5, 2018 of $149.00 plus tax per night.  Includes breakfast and free internet access.  Individuals must call the hotel directly and identify themselves with the Colorado Marathon  in order get the discounted group rate.  Based upon availability.</p>
						<h3><a href="https://www.bestwestern.com/en_US/book/hotel-rooms.06040.html?groupId=8H2ZG8E3" target="_blank">Book your reservation directly on line</a></h3>
						<p>Use Group ID for Colorado Marathon:  8H2ZG8E3</p>
				</div>
        <div class="col-sm-2">
						<h3><a href="http://hiltongardeninn.hilton.com/en/gi/groups/personalized/F/FNLFCGI-CMR-20180504/index.jhtml?WT.mc_id=POG" target="_blank">Hilton Garden Inn Fort Collins</a></h3>
            <p><i>2821 East Harmony Road</i></p>
            <p><i>Fort Collins, CO, US, 80528</i></p>
            <p><i>970-225-2900</i></p>
						<br>
            <p>Group Name: Colorado Marathon</p>
            <p>Group Code: CMR</p>
            <p>Check In: Friday, May 4, 2018</p>
            <p>Check Out: Monday, May 7, 2018</p>
						<h3><a href="http://hiltongardeninn.hilton.com/en/gi/groups/personalized/F/FNLFCGI-CMR-20180504/index.jhtml?WT.mc_id=POG" target="_blank">Book your reservation directly on line</a></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" style="margin-top:40px;">

					<p>Whether you're visiting for a day or a week, Fort Collins offers you plenty of choices for fun. We'll show you where to shop, where to hike, and where to dance. </p>
					<p>For more information about Fort Collins, Colorado, visit the <a href="http://www.ftcollins.com" target="_blank">Fort Collins Web Site</a>.</p>

				</div>
			</div>
		</div>
