<div class="container formTop" > 
	<div class="row"> 
	 	<div class="col-md-12 centeredText">
	 		<h3><a href="http://www.runningguru.com/Pictures.asp?eID=13912" target="_blank">2015 Race Photos</a></h3>
	 		<h3><a href="https://www.runningguru.com/Pictures.asp?eID=11539" target="_blank">2014 Race Photos</a></h3>
	 		<h3><a href="http://www.runningguru.com/Pictures.asp?eID=4954" target="_blank">2013 Race Photos</a></h3>
	 		<h3><a href="http://www.backprint.com/" target="_blank">2012 Race Photos</a></h3>
	 		<h3><a href="http://www.backprint.com/" target="_blank">2011 Race Photos</a></h3>
	 		<h3><a href="http://eventpictures.com/app/event/viewEvent?eventInstanceId=20383" target="_blank">2010 Race Photos</a></h3>
	 		<h3><a href="http://runningmemories.com/ColoradoMarathon_2009.html" target="_blank">2009 Race Photos</a></h3>
	 		<h3><a href="http://runningmemories.com/ColoradoMarathon_2008.html">2008 Race Photos</a></h3>
	 		<h3><a href="http://www.thedenverchannel.com/video?videoId=16168912">2008 Channel 7 Video Coverage</a></h3>
	 		<h3><a href="http://www.schulzephotography.com/">2007 Race Photos</a></h3>
	 	</div>
	</div>
</div>