<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '230345584072553');
fbq('track', 'PageView');
fbq('track', 'Purchase', {value: '0.00', currency: 'USD'});
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=230345584072553&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<div class="topSpace">
	<div class="row formTop">
		<div class="col-sm-12">
			<a href="img/marathonelevation.jpeg" target="_blank"><img style="width:100%" src="img/marathonelevation.jpeg"> </a>
		</div>
	</div>

    <div id="tabs">
        <ul class="ultab">
            <li class="litab"
            	ng-repeat="tab in tabs"
                ng-class="{active:isActiveTab(tab.url)}"
                ng-click="onClickTab(tab)">{{tab.title}}</li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <div class="row commonInfo">
		<div class="col-sm-6">
			<h1 class="centeredText orangeHeader">Bag Check and Retrieval</h1>
			<p>The start of the Marathon, Half Marathon and 5K will have bag drop available that will be transported and available for pick up at the finish. Please, no valuables or breakable items, and small bags would be appreciated.</p>
			<p>The race is not responsible for any items dropped along the course. All items dropped on the course are donated to charity.</p>
      <p>For the relay, we will deliver the bags for runner one from the start to the half marathon mark (Exchange Zone 1). We will deliver the bags for runner two from the half marathon mark to Cache La Poudre Middle School (Exchange Zone 2). Runner two is responsible for transporting runner three's bag to the finish line.</p>
      <h1 class="centeredText orangeHeader">After Party</h1>
			<p>The Post-Race Party will have bands playing on the stage at Washington Park. </p>
			<p>For 2018, <a href="https://www.facebook.com/AmyAndThePeacePipes/" target="_blank">Amy and the Peace Pipes</a> will be playing from 8:30 am - 10:30 am and <a href="http://swashbucklingdoctors.com/" target="_blank">The Swashbuckling Doctors</a> will be playing from 10:30 am - 12:30 pm.</p>
			<p>The Odell Brewing Beer Garden will be serving four of their locally brewed beers from 7:30 am - 1:00 pm in Washington Park.  Participants can get a free beer with the tab on their bib. Additional beer can be purchased for $4 (cash only) with all proceeds benefiting the <a href="http://fococafe.org/" target="_blank">FoCo Cafe</a>. Please have your ID available to get a wristband either at the Packet Pick-up & Expo or in Washington Park.</p>
			<p>Coopersmith's Poolside will have free pizza and beer from 11:00 am - 1:00 pm for participants and families (must show bib and ID to gain entrance). Coopersmith's Pubside opens at 11:00 am for lunch. </p>
		</div>
		<div class="col-sm-6">
			<h1 class="centeredText orangeHeader">Aid Stations</h1>
			<p>There will be 12 aid stations on the Marathon course and 8 aid stations on the Half Marathon course. They are located at the following Marathon mileage marks (approximate):</p>
			<p>Aid Station #1: 2.6 (The Rock Tunnel)</p>
			<p>Aid Station #2: 5.0 (Ouzel Day Use Area)</p>
			<p>Aid Station #3: 7.2 (Poudre Park)</p>
			<p>Aid Station #4: 10.1 (Raft Put In)</p>
			<p>Aid Station #5: 12.8 (Green Pipe)</p>
			<p>Aid Station #6: 15.3 (Guard Rail)</p>
			<p>Aid Station #7: 16.8 (Ted's Place)</p>
			<p>Aid Station #8: 19.1 (Bagel Hill)</p>
			<p>Aid Station #9: 21.4 (Lyon's Park)</p>
			<p>Aid Station #10: 23.2 (Taft Hill)</p>
			<p>Aid Station #11: 24.2 (Shields)</p>
			<p>Aid Station #12: 25.3 (Lee Martinez)</p>
			<p><a target="_self" href="pdf/aidstationdescriptions.doc" download>Downloadable List</a></p>
			<p>Aid Stations will be equiped with: Eldorado Springs Water, Nuun Performance Drink, limited first aid supplies, portable toilets, and communication to finish.  Honey Stinger Energy Gels and Chews will be available at the Green Pipe Aid Station (mile 12.8) and Bagel Hill Aide Station (Mile 19.1)</p>
		</div>
	</div>
	<div class="row commonInfo" >
		<div class="col-sm-12">
			<h1 class="centeredText orangeHeader">Training Tips</h1>
			<p>A marathon is an arduous event and can be dangerous, even under good conditions, if a person isn't adequately prepared. This program is a gradual expansion of training but is general in its conception and cannot take into account individual needs and differences. At best it is a general guideline and in no way represents the perfect solution to any single individual's needs. </p>
			<p>ALL of the miles in the schedule should be run at an easy effort. An easy effort can be defined as a pace at which you can easily converse with someone running with you. You should be able to talk in easy sentences. The pace should feel very relaxed and comfortable.</p>
			<h2>Walking breaks are perfectly fine</h2>
			<p>The goal should always be to run and walk for the complete amount of time allotted for the workout. If you do walk, walk quickly and return to running as soon as you feel the effort level has returned to a controlled, easy level.</p>
			<h2>Buy shoes that work for your feet and replace them frequently</h2>
			<p>You can expect to get no more than 400 to 500 miles of running out of a pair of top end running shoes. Many injuries are directly related to worn out shoes so examine yours closely every time you wear them. Look for collapsed mid-soles and worn down out-soles. Use a specialty running store where you'll find good equipment and sales people that will find the right shoe for your feet. Wear your running shoes only for running.</p>
			<h2>Keep a record of your training</h2>
			<p>A running log is a great way to keep track of shoe wear and monitor your progress. Use a notebook, day planner, or calendar to record your workouts; both what you did and how you felt.</p>
			<h2>Find a training companion</h2>
			<p>There's nothing like shared motivation to help you through a marathon training program. Locate a training partner or group that has similar abilities.</p>
			<h2>Find a source of information about running</h2>
			<p>A training partner who has experience with marathons, Runner's World Online (WWW.RUNNERSWORLD.COM), books, magazines, running stores… all offer information that will help you with answers to problems that might come up.</p>
			<h2>Hydrate on your long runs</h2>
			<p>Use a sports drink to help get you through runs longer than 60 minutes. Practicing with the sports drink you'll be offered in the marathon (Nuun Performance) is always a good idea. Whether you carry a bottle or hide bottles alongside the road, using a replacement fluid can be the difference between a successful long run and a miserable experience. Drink a lot and drink often. You'll quickly learn how much you're comfortable with and that will help you during the marathon.</p>
		</div>
	</div>
    <script type="text/ng-template" id="one.tpl.html">
		<div id="viewOne" style="padding:20px;">
			<div class="row">
				<div class="col-sm-10">
						<h1 class="centeredText animateTitle">Marathon</h1>
						<h1 class="centeredText"><a href="https://simpleracereg2.com/events/2019_colorado_marathon" target="_blank">Online registration is now open!</a></h1>
						<h3 class="importantMessage centeredText">May 5th, 2019 at 6:30AM</h3>
				</div>
				<div class="col-sm-4">
								<h2 class="orangeHeader centeredText">Mandatory Race Packet Pick-up</h2>
								<h3 class="importantMessage">There will be no race day packet pick-up.
								</h3>
								<p><i>Location for 2019 is The Lincoln Center</i></p>
                <p><i>417 W. Magnolia Street, Fort Collins, CO 80521</i></p>
								<h3>Hours:</h3>
									<p>May 3rd 4:00PM - 8:00PM</p>
									<p>May 4th 10:00AM - 8:00PM</p>
									<p>*expo ends at 7:00PM on Saturday*</p>
								<h3>Every race participant must pick up their race packet at the Packet Pickup & Expo at <strong>The Lincoln Center</strong>. Look for the designated Race Packet Pick-up Area.
                <h3>We are an equal opportunity provider, authorized by special use permit to operate on the land in Roosevelt National Forest.
								</h3>

				</div>
				<div class="col-sm-4">
							<h2 class="orangeHeader centeredText">Mandatory Bus Loading</h2>
							<h3 class="importantMessage">All participants must ride the bus to the start of the race.
								</h3>
							<p>Board the event provided FREE luxury buses departing from the South edge of Old Town Square on Mountain Street.</p>

							<p class="importantMessage centeredText">4:15AM - 5:00AM</p>
							<p>Please be on time. No exception to departure times.</p>
							<h3 class="centeredText">Pick-up Location:</strong></h3>
							<p>NEW PICK UP LOCATION IN 2018: South edge of Old Town Square on Mountain Street</p>
							<h3 class="centeredText">Parking Info:</h3>
							<p>There is free parking in the surface level lot at Oak Street and Remington Street and also in the parking garage at Mountain Avenue and Remington Street.</p>
							<p>Participants receiving transportation to start(excluding 10K) by any other means than event provided buses will be disqualified.  </p>
							<p class="importantMessage">Your race bib is your bus pass.<p>
							<p><a href="/img/parkingmap2018.png" target="_blank">Full Marathon Parking Map</a><p>

				</div>
				<div class="col-sm-4">
							<h2 class="orangeHeader centeredText">Course Information</h2>
							<h3><a href="https://www.raceentry.com/maps/user/view/30109" target="_blank">Course Map</a></h3>
							<iframe class="courseMap" src="https://www.raceentry.com/maps/view/973/true/1/false/true" target="_blank"></iframe>
							<h3><a href="http://www.thecoloradomarathon.com/New_Maps/scenes%5B1%5D.pdf" target = "_blank">Course 3-D Map</a></h3>
							<h3><a href="http://youtu.be/U4aRkqowex8" target='_blank'>Marathon Fly-Through Video</a><h3>

				</div>
		</div>
	</script>

	<script type="text/ng-template" id="two.tpl.html">
		<div id="viewTwo" style="padding:20px;">
			<div class="row">
				<div class="col-sm-2 pull-right">
					<img src="img/HalfSponsor.jpg"/>
				</div>
				<div class="col-sm-10">
						<h1 class="centeredText animateTitle">Half Marathon</h1>
						<h1 class="centeredText"><a href="https://simpleracereg2.com/events/2019_colorado_marathon" target="_blank">Online registration is now open!</a></h1>
						<h3 class="importantMessage centeredText">May 5th, 2019 at 6:30AM</h3>
				</div>
				<div class="col-sm-4">
								<h2 class="orangeHeader centeredText">Mandatory Race Packet Pick-up</h2>
								<h3 class="importantMessage">There will be no race day packet pick-up.
								</h3>
                <p><i>Location for 2019 is The Lincoln Center</i></p>
                <p><i>417 W. Magnolia Street, Fort Collins, CO 80521</i></p>
								<h3>Hours:</h3>
									<p>May 3rd 4:00PM - 8:00PM</p>
									<p>May 4th 10:00AM - 8:00PM</p>
									<p>*expo ends at 7:00PM on Saturday*</p>
								<h3>Every race participant must pick up their race packet at the Packet Pickup & Expo at <strong>The Lincoln Center</strong>. Look for the designated Race Packet Pick-up Area.
								</h3>

				</div>
				<div class="col-sm-4">
							<h2 class="orangeHeader centeredText">Mandatory Bus Loading</h2>
							<h3 class="importantMessage">All participants must ride the bus to the start of the race.
								</h3>
							<p>Board the event provided FREE luxury buses departing from the Fort Collins Transportation Center at LaPorte Avenue and Mason Street.</p>

							<p class="importantMessage centeredText">4:30AM - 5:15AM</p>
							<p>Please be on time. No exception to departure times.</p>
							<h3 class="centeredText">Pick-up Location:</strong></h3>
							<p>Fort Collins Transportation Center at LaPorte Avenue and Mason Street</p>
							<h3 class="centeredText">Parking Info:</h3>
							<p>There is a large, free parking garage available at the intersection of LaPorte Avenue and Mason Street.</p>
							<p>Participants receiving transportation to start(excluding 10K) by any other means than event provided buses will be disqualified.  </p>
							<p class="importantMessage">Your race bib is your bus pass.<p>
							<p><a href="/img/parkingmap2018.png" target="_blank">Half Marathon Parking Map</a><p>
				</div>
				<div class="col-sm-4">
							<h2 class="orangeHeader centeredText">Course Information</h2>
							<h3><a href="https://www.raceentry.com/maps/view/2324/true/1/false/true" target="_blank">Course Map</a></h3>
							<iframe class="courseMap" src="https://www.raceentry.com/maps/view/2324/true/1/false/true"></iframe>
				</div>
		</div>
	</script>

	<script type="text/ng-template" id="three.tpl.html">
		<div id="viewThree" style="padding:20px;">
			<div class="row">
				<div class="col-sm-2 pull-right">
					<img src="img/10kSponsor.jpg"/>
				</div>
				<div class="col-sm-10">
						<h1 class="centeredText animateTitle">Rio Grande 10k Run/Walk</h1>
						<h1 class="centeredText"><a href="https://simpleracereg2.com/events/2019_colorado_marathon" target="_blank">Online registration is now open!</a></h1>
						<h3 class="importantMessage centeredText">May 5th, 2019 at 7:00AM</h3>
				</div>
				<div class="col-sm-6">
								<h2 class="orangeHeader centeredText">Mandatory Race Packet Pick-up</h2>
								<h3 class="importantMessage">There will be no race day packet pick-up.
								</h3>
                <p><i>Location for 2019 is The Lincoln Center</i></p>
                <p><i>417 W. Magnolia Street, Fort Collins, CO 80521</i></p>
								<h3>Hours:</h3>
									<p>May 3rd 4:00PM - 8:00PM</p>
									<p>May 4th 10:00AM - 8:00PM</p>
									<p>*expo ends at 7:00PM on Saturday*</p>
								<h3>Every race participant must pick up their race packet at the Packet Pickup & Expo at <strong>The Lincoln Center</strong>. Look for the designated Race Packet Pick-up Area.
								</h3>

				</div>
				<div class="col-sm-6">
							<h2 class="orangeHeader centeredText">Race Start</h2>
							<p class="importantMessage">There will be no buses for the 10k
								</p>
							<p>Location: Intersection of Mason and Mountain (near Rio Grande Restaurant).</p>

							<h3 class="importantMessage centeredText">Race begins at 7:00AM</h3>

							<p>Run or walk the Rio Grande 10k</p>

							<p class="importantMessage">Strollers are allowed for the 10k only. Dogs are discouraged<p>
							<h2 class="orangeHeader centeredText">Course Information</h2>
							<h3><a href="https://www.raceentry.com/maps/view/972/false/1/true/true" target="_blank">Course Map</a></h3>
							<iframe class="courseMap" src="https://www.raceentry.com/maps/view/972/false/1/true/true" target="_blank"></iframe>

				</div>
			</div>

		</div>
	</script>
	<script 	type="text/ng-template" id="four.tpl.html">
		<div id="viewFour" style="padding:20px;">
			<div class="col-sm-2 pull-right">
				<img src="img/5kSponsor.jpg"/>
			</div>
			<div class="row">
						<h1 class="centeredText animateTitle">5k</h1>
						<h1 class="centeredText"><a href="https://simpleracereg2.com/events/2019_colorado_marathon" target="_blank">Online registration is now open!</a></h1>
						<h3 class="importantMessage centeredText">May 5th, 2019 at 7:00AM</h3>
				<div class="col-sm-4">
								<h2 class="orangeHeader centeredText">Mandatory Race Packet Pick-up</h2>
								<h3 class="importantMessage">There will be no race day packet pick-up.
								</h3>
                <p><i>Location for 2019 is The Lincoln Center</i></p>
                <p><i>417 W. Magnolia Street, Fort Collins, CO 80521</i></p>
								<h3>Hours:</h3>
									<p>May 3rd 4:00PM - 8:00PM</p>
									<p>May 4th 10:00AM - 8:00PM</p>
									<p>*expo ends at 7:00PM on Saturday*</p>
								<h3>Every race participant must pick up their race packet at the Packet Pickup & Expo at <strong>The Lincoln Center</strong>. Look for the designated Race Packet Pick-up Area.
								</h3>

				</div>
				<div class="col-sm-4">
							<h2 class="orangeHeader centeredText">Mandatory Bus Loading</h2>
							<h3 class="importantMessage">All participants must ride the bus to the start of the race.
								</h3>
							<p>Board the event provided FREE luxury buses departing from the Fort Collins Transportation Center at LaPorte Avenue and Mason Street.</p>

							<p class="importantMessage centeredText">6:00AM - 6:30AM</p>
							<p>Please be on time. No exception to departure times.</p>
							<h3 class="centeredText">Pick-up Location:</strong></h3>
							<p>Fort Collins Transportation Center at LaPorte Avenue and Mason Street</p>
							<h3 class="centeredText">Parking Info:</h3>
							<p>There is a large, free parking garage available at the intersection of LaPorte Avenue and Mason Street.</p>
							<p>Participants receiving transportation to start(excluding 10K) by any other means than event provided buses will be disqualified.  </p>
							<p class="importantMessage">Your race bib is your bus pass.<p>
              <p><a href="/img/parkingmap2018.png" target="_blank">5k Parking Map</a><p>

				</div>
				<div class="col-sm-4">
							<h2 class="orangeHeader centeredText">Course Information</h2>
							<h3><a href="https://www.raceentry.com/maps/view/1792/false/1/true/true"  target="_blank">Course Map</a></h3>
							<iframe class="courseMap" src="https://www.raceentry.com/maps/view/1792/false/1/true/true" target="_blank"></iframe>
				</div>
			</div>

			</div>
		</div>
	</script>
	<script 	type="text/ng-template" id="five.tpl.html">
		<div id="viewFive" style="padding:20px;">
			<div class="row">
						<h1 class="centeredText animateTitle">Three Person Marathon Relay</h1>
						<h1 class="centeredText"><a href="https://simpleracereg2.com/events/2019_colorado_marathon" target="_blank">Online registration is now open!</a></h1>
						<h3 class="importantMessage centeredText">May 5th, 2019 at 6:30AM</h3>
				<div class="col-sm-4">
								<h2 class="orangeHeader centeredText">Mandatory Race Packet Pick-up</h2>
								<h3 class="importantMessage">There will be no race day packet pick-up.
								</h3>
                <p><i>Location for 2019 is The Lincoln Center</i></p>
                <p><i>417 W. Magnolia Street, Fort Collins, CO 80521</i></p>
                <p><i>Location for 2019 is TBD</i></p>
								<h3>Hours:</h3>
									<p>May 3rd 4:00PM - 8:00PM</p>
									<p>May 4th 10:00AM - 8:00PM</p>
									<p>*expo ends at 7:00PM on Saturday*</p>
								<h3>One team member can pick up all three packets. Participant must pick up their race packet at the Packet Pickup & Expo at <strong>The Lincoln Center</strong>. Look for the designated Race Packet Pick-up Area.
								</h3>

				</div>
				<div class="col-sm-4">
							<h2 class="orangeHeader centeredText">Mandatory Bus Loading</h2>
							<h3 class="importantMessage">Leg one runners will take the same buses at the same time as the full marathon runners.  </br>Leg two runners will be picked up between 5:45 and 6:00 am from the Fort Collins Transportation Center at LaPorte Avenue and Mason Street. (the same location as half marathon runners).  They will then be bused to the half marathon area, which is Exchange Zone 1.  This bus will remain in this area and transport leg one runners from Exchange Zone 1 back to the finish line. </br>The bus will depart from Exchange Zone 1 at approximately 9:45 am. </br>There is no event provided transportation to or from Exchange Zone 2. Please arrange for your own transportation to and from the Cache La Poudre Middle School.</p>
								</h3>

							<h3 class="centeredText">Parking Info:</h3>
              <p>Runner One: There is free parking in the surface level lot at Oak Street and Remington Street and also in the parking garage at Mountain Avenue and Remington Street.</p>
              <p>Runner Two: There is a large, free parking garage available at the intersection of LaPorte Avenue and Mason Street.</p>
							<p>Participants receiving transportation to start(excluding 10K) by any other means than event provided buses will be disqualified.  </p>
							<p class="importantMessage">Your race bib is your bus pass.<p>
							<p><a href="/img/parkingmap2018.png" target="_blank">Runner One Parking Map</a><p>
              <p><a href="/img/parkingmap2018.png" target="_blank">Runner Two Parking Map</a><p>

				</div>
				<div class="col-sm-4">
							<h2 class="orangeHeader centeredText">Course Information</h2>

							<p>The relay legs will be roughly 13.1 miles, 7.7 and 5.4 mile legs.</br>Exchange Zone 1 will be at the half marathon mark.</br>
								Leg 2 runners will be bused to the exchange zone.</br>Leg 1 runners will be bused back to the finish.</br>
								Exchange Zone 2 will be at the Cache La Poudre Middle School.</br>No busing will be provided for this exchange zone.</p>
                Bag check will be provided for Leg 1 and Leg 2 runners.  </br>Leg 3 runners should leave their belongings in their vehicle.

							<h3><a href="https://www.raceentry.com/maps/view/18441/false/1/true/true"  target="_blank">Course Map</a></h3>
							<iframe class="courseMap" src="https://www.raceentry.com/maps/view/18441/false/1/true/true" target="_blank"></iframe>
				</div>
			</div>

			</div>
		</div>
	</script>

	<script type="text/ng-template" id="six.tpl.html">
		<div id="viewSix" style="padding:0px;">
			<h1 class="centeredText animateTitle">Race Fees</h1>
			<h1 class="centeredText"><a href="https://www.simpleracereg2.com/events/2019_colorado_marathon" target="_blank">Register here!</a></h1>
			<div class="row">
						<div class="col-sm-2">
						</div>
						<div class="col-sm-2">
							<h2 class="orangeHeader">Marathon</h2>
						</div>
						<div class="col-sm-2">
							<h2 class="orangeHeader">Half Marathon</h2>
						</div>
						<div class="col-sm-2">
							<h2 class="orangeHeader">10k</h2>
						</div>
						<div class="col-sm-2">
							<h2 class="orangeHeader">5k</h2>
						</div>
						<div class="col-sm-2">
							<h2 class="orangeHeader">Relay</h2>
						</div>
			</div>
			<div class="row">
						<div class="col-sm-2">
							<h2>July 1 - August 31</h2>
						</div>
						<div class="col-sm-2">
							<h2>$110</h2>
						</div>
						<div class="col-sm-2">
							<h2>$80</h2>
						</div>
						<div class="col-sm-2">
							<h2>$35</h2>
						</div>
						<div class="col-sm-2">
							<h2>$25</h2>
						</div>
						<div class="col-sm-2">
							<h2>$190</h2>
						</div>
			</div>
			<div class="row">
						<div class="col-sm-2">
							<h2>September 1 - December 31</h2>
						</div>
						<div class="col-sm-2">
							<h2>$120</h2>
						</div>
						<div class="col-sm-2">
							<h2>$90</h2>
						</div>
						<div class="col-sm-2">
							<h2>$40</h2>
						</div>
						<div class="col-sm-2">
							<h2>$30</h2>
						</div>
						<div class="col-sm-2">
							<h2>$210</h2>
						</div>
			</div>
			<div class="row">
						<div class="col-sm-2">
							<h2>January 1 - February 28</h2>
						</div>
						<div class="col-sm-2">
							<h2>$135</h2>
						</div>
						<div class="col-sm-2">
							<h2>$105</h2>
						</div>
						<div class="col-sm-2">
							<h2>$45</h2>
						</div>
						<div class="col-sm-2">
							<h2>$35</h2>
						</div>
						<div class="col-sm-2">
							<h2>$230</h2>
						</div>
			</div>
			<div class="row">
						<div class="col-sm-2">
							<h2>March 1 - May 1</h2>
						</div>
						<div class="col-sm-2">
							<h2>$140</h2>
						</div>
						<div class="col-sm-2">
							<h2>$110</h2>
						</div>
						<div class="col-sm-2">
							<h2>$50</h2>
						</div>
						<div class="col-sm-2">
							<h2>$40</h2>
						</div>
						<div class="col-sm-2">
							<h2>$240</h2>
						</div>
			</div>
			<div class="row">
						<div class="col-sm-2">
							<h2>Expo</h2>
						</div>
						<div class="col-sm-2">
						  <h2>$145</h2>
						</div>
						<div class="col-sm-2">
							<h2>$115</h2>
						</div>
						<div class="col-sm-2">
							<h2>$55</h2>
						</div>
						<div class="col-sm-2">
							<h2>$45</h2>
						</div>
						<div class="col-sm-2">
							<h2>$250</h2>
						</div>
			</div>
			<div class="row">
						<div class="col-sm-2">
							<h2>Charity Fund</h2>
						</div>
						<div class="col-sm-2">
							<h2>$280 (100 entries)</h2>
						</div>
						<div class="col-sm-2">
							<h2>$220 (50 entries)</h2>
						</div>
						<div class="col-sm-2">
							<h2>N/A</h2>
						</div>
						<div class="col-sm-2">
							<h2>N/A</h2>
						</div>
						<div class="col-sm-2">
							<h2>N/A</h2>
						</div>
			</div>
		</div>
	</script>
<!--	<script type="text/ng-template" id="six.tpl.html">
		<div id="viewSix" style="padding:20px;">
			<div class="row">
				<h1 class="centeredText animateTitle">Lodging</h1>
				<div class="col-md-6">
						<h2 class="orangeHeader">Host Hotel</h2>
						<h3><a href="www.hiltonfortcollins.com" target="_blank">Hilton Fort Collins</a></h3>
						<p><i>425 W. Prospect Rd</i></p>
						<p><i>Fort Collins, CO</i></p>
						<p>(970) 482-2626 </p>
						<p>The Hilton Fort Collins is the host hotel and Packet Pickup & Expo for the 2016 Colorado Marathon. Visit www.hilton.com for special rates and online reservations.</p>
						<h3>Busing for Guests staying at the Host Hotel</h3>
						<p>Event provided buses for the full and half marathon will pick up participants staying at the Hilton Fort Collins only</p>
						<p>Departure from Hilton Fort Collins is as follows: </p>
						<p class="importantMessage">Marathon: 4:30AM</p>
						<p class="importantMessage">Half Marathon: 5:00AM</p>

				</div>
				<div class="col-sm-6">
					<img style="width:100%; margin-top:50px;" src="img/hilton.jpeg">
				</div>
			</div>
			<div class="row">
					<h2 class="orangeHeader">Affiliated Hotels</h2>
					<p>The following hotels have partnered with the Colorado Marathon to offer our participants discounted rates. Please make sure to confirm directly with the hotel you have received your special rate as a guest of the Colorado Marathon.</p>
				<div class="col-sm-4">
						<h3><a href="www.qualityinn.com" target="_blank">Quality Inn and Suites</a></h3>
						<p><i>4001 S. Mason St. </i></p>
						<p><i>Fort Collins, CO 80525</i></p>
						<p>Phone (970) 282-9047 </p>
						<p>Fax (970) 282-4473 </p>
						<br>
						<p>Start date: 5/2/15</p>
						<p>End date: 5/3/15</p>
						<p>Last day to book by: 4/3/15</p>
						<p>Special Colorado Marathon rate: $129 USD per night</p>
				</div>
				<div class="col-sm-4">
						<h3><a href="www.marriot.com" target="_blank">Courtyard Fort Collins</a></h3>
						<p><i>1200 Oakridge Drive</i></p>
						<p><i>Fort Collins, CO 80525</i></p>
						<p>Phone (970) 282-1700</p>
						<p>Fax (970) 282-1777</p>
						<p>Toll-free (800) 471-2138</p>
						<br>
						<p>Start date: 5/1/15</p>
						<p>End date: 5/3/15</p>
						<p>Last day to book by: 4/3/15</p>
						<p>Special Colorado Marathon rate: $159 USD per night</p>
				</div>
				<div class="col-sm-4">
						<h3><a href="www.bwui.com" target="_blank">Best Western University Inn</a></h3>
						<p><i>914 S. College Avenue</i></p>
						<p><i>Fort Collins, CO 80524</i></p>
						<p>(970) 484-1984</p>
						<p>Toll-free (888) 484-2984</p>
						<br>
						<p>Special rates for Colorado Marathon Saturday, May 3, 2015 $144.00 plus tax per night.  Includes breakfast and free internet access.  Individuals must call the hotel directly and identify themselves with the Colorado Marathon  in order get the discounted group rate.  Based upon availability.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" style="margin-top:40px;">

					<p>Whether you're visiting for a day or a week, Fort Collins offers you plenty of choices for fun. We'll show you where to shop, where to hike, and where to dance. </p>
					<p>For more information about Fort Collins, Colorado, visit the <a href="www.ftcollins.com" target="_blank">Fort Collins Web Site</a>.</p>

				</div>
			</div>
		</div>
	</script>-->
</div>
