<div class="container formTop">
	<div class="row">
		<div class="col-sm-12" style="margin-top:20px;">
			<div class="col-md-4">
				<a href="www.kaiserpermanente.org" target="_blank"><img class="sponsors" src="img/TitleSponsor1.jpg"></a>
        	</div>
        	<div class="col-md-4">
        		<a href="www.bannerhealth.com" target="_blank"><img class="sponsors" src="img/TitleSponsor2.jpg"></a>
        	</div>
        	<div class="col-md-4">
        		<a href="www.houseloan.com" target="_blank"><img class="sponsors" src="img/TitleSponsor3.jpg"></a>	
        	</div>
    	</div>

    	<div class="col-sm-12" style="margin-top:20px;">
        	<div class="col-md-4">
        		<a href="www.riograndemexican.com" target="_blank"><img class="sponsors" src="img/TitleSponsor4.jpg"></a>
        	</div>
        	<div class="col-md-4">
        		<a href="http://www.odellbrewing.com/" target="_blank"><img class="sponsors" src="img/TitleSponsor6.png"></a>
        	</div>
        	<div class="col-md-4">	
        		<a href="www.haircutmenfortcollinsco.com" target="_blank"><img class="sponsors" src="img/TitleSponsor5.png"></a>
        	</div>
        </div>

        <div class="col-sm-12" style="margin-top:20px;">
        	<div class="col-md-4">
        		<a href="www.dellenbach.com" target="_blank"><img class="sponsors" src="img/subaru.jpeg"></a>
        	</div>
        	<div class="col-md-4">
        		<a href="www.honeystinger.com" target="_blank"><img class="sponsors" src="img/HoneyStinger.jpeg"></a>
        	</div>
        	<div class="col-md-4">
        		<a href="www.nuun.com" target="_blank"><img class="sponsors" src="img/nuun.jpeg"></a>
        	</div>
        </div>

        <div class="col-sm-12" style="margin-top:20px;">
        	<div class="col-md-4">
        		<a href="www.brooksrunning.com" target="_blank"><img class="sponsors" src="img/brooks.jpeg"></a>
        	</div>
        	<div class="col-md-4">
        		<a href="www.runnersroost.com" target="_blank"><img class="sponsors" src="img/roost.jpeg"></a>
        	</div>
        	<div class="col-md-4">	
        		<a href="www.orthohealth.com" target="_blank"><img class="sponsors" src="img/ortho.jpeg"></a>
        	</div>
        </div>

        <div class="col-sm-12" style="margin-top:20px;">
        	<div class="col-md-4">
        		<a href="www.9news.com" target="_blank"><img class="sponsors" src="img/9news.jpeg"></a>
        	</div>
        	<div class="col-md-4">
        		<a href="www.coloradoan.com" target="_blank"><img class="sponsors" src="img/colo.jpeg"></a>
        	</div>
        	<div class="col-md-4">	
        		<a href="www.harbertv.com" target="_blank"><img class="sponsors" src="img/harber.jpeg"></a>
        	</div>
        </div>

        <div class="col-sm-12" style="margin-top:20px;">
        	<div class="col-md-4">
        		<a href="www.wholefoodsmarket.com" target="_blank"><img class="sponsors" src="img/wfm.jpeg"></a>
        	</div>
        	<div class="col-md-4">
        		<a href="www.eldoradosprings.com" target="_blank"><img class="sponsors" src="img/eldorado.jpeg"></a>
        	</div>
        	<div class="col-md-4">	
        		<a href="www.tomriggs.com" target="_blank"><img class="sponsors" src="img/riggs.jpeg"></a>
        	</div>
        </div>

        <div class="col-sm-12" style="margin-top:20px; margin-bottom:20px;">
        	<div class="col-md-4">
        		<a href="www.coopersmithspub.com" target="_blank"><img class="sponsors" src="img/cooper.jpeg"></a>
        	</div>
        	<div class="col-md-4">
        		<a href="www.gallegossanitation.com" target="_blank"><img class="sponsors" src="img/gallego.jpeg"></a>
        	</div>
        	<div class="col-md-4">	
        		<a href="www.seatbrella.com" target="_blank"><img class="sponsors" src="img/seat.jpeg"></a>
        	</div>
		</div>
	</div>
</div>