<div class="container formTop">
    <div class="row">
        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="https://www.kaiserpermanente.org" target="_blank"><img class="sponsors" src="img/TitleSponsor1.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.houseloan.com" target="_blank"><img class="sponsors" src="img/TitleSponsor3.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.riograndemexican.com" target="_blank"><img class="sponsors" src="img/TitleSponsor4.jpg"></a>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="http://www.pds-co.com/" target="_blank">
                <img class="sponsors" src="img/TitleSponsor2.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="http://www.odellbrewing.com/" target="_blank"><img class="sponsors" src="img/TitleSponsor6.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.haircutmenfortcollinsco.com" target="_blank"><img class="sponsors" src="img/TitleSponsor5.jpg"></a>
            </div>


        </div>

        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="https://www.ColoradoInMotion.com" target="_blank"><img class="sponsors" src="img/ColoradoInMotion.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.honeystinger.com" target="_blank"><img class="sponsors" src="img/HoneyStinger.jpeg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.nuunlife.com" target="_blank"><img class="sponsors" src="img/nuun.jpeg"></a>
            </div>


        </div>


        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="https://www.brooksrunning.com" target="_blank"><img class="sponsors" src="img/brooks.jpeg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.runnersroost.com" target="_blank"><img class="sponsors" src="img/roost.jpeg"></a>
            </div>
            <div class="col-md-4">
                <a href="http://www.rockymountainmultisport.com/" target="_blank"><img class="sponsors" src="img/RMmultisport.jpg"></a>
            </div>


        </div>

        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="https://www.harbertv.com" target="_blank"><img class="sponsors" src="img/harber.jpeg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.eldoradosprings.com" target="_blank"><img class="sponsors" src="img/eldorado.jpeg"></a>
            </div>
             <div class="col-md-4">
                <a href="https://www.coopersmithspub.com" target="_blank"><img class="sponsors" src="img/cooper.jpeg"></a>
            </div>

        </div>

        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="https://www.gallegossanitation.com" target="_blank"><img class="sponsors" src="img/gallego.jpeg"></a>
            </div>
        </div>

    </div>
</div>
