<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '230345584072553');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=230345584072553&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<div class="container formTop">
    <div class="row">
        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="https://www.kaiserpermanente.org" target="_blank"><img class="sponsors" src="img/TitleSponsor1.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="http://www.fortcollinsdodgechryslerjeep.com" target="_blank"><img class="sponsors" src="img/TitleSponsor7.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.riograndemexican.com" target="_blank"><img class="sponsors" src="img/TitleSponsor4.jpg"></a>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="http://www.pds-co.com/" target="_blank"><img class="sponsors" src="img/TitleSponsor2.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="http://www.odellbrewing.com/" target="_blank"><img class="sponsors" src="img/TitleSponsor6.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.runnersroost.com" target="_blank"><img class="sponsors" src="img/roost.jpeg"></a>
            </div>


        </div>

        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="https://www.coopersmithspub.com" target="_blank"><img class="sponsors" src="img/cooper.jpeg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.ColoradoInMotion.com" target="_blank"><img class="sponsors" src="img/ColoradoInMotion.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.honeystinger.com" target="_blank"><img class="sponsors" src="img/HoneyStinger.jpeg"></a>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="https://www.nuunlife.com" target="_blank"><img class="sponsors" src="img/nuun.jpeg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.brooksrunning.com" target="_blank"><img class="sponsors" src="img/brooks.jpeg"></a>
            </div>
            <div class="col-md-4">
                <a href="http://www.rockymountainmultisport.com/" target="_blank"><img class="sponsors" src="img/RMmultisport.jpg"></a>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="https://www.mmcookie.com" target="_blank"><img class="sponsors" src="img/marys.jpg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.harbertv.com" target="_blank"><img class="sponsors" src="img/harber.jpeg"></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.eldoradosprings.com" target="_blank"><img class="sponsors" src="img/eldorado.jpeg"></a>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top:20px;">
             <div class="col-md-4">
                <a href="https://www.gallegossanitation.com" target="_blank"><img class="sponsors" src="img/gallego.jpeg"></a>
            </div>
        </div>

        </div>

    </div>
</div>
