
body{
    /*background-color:#e7e7e7;*/
    background-color:#F5F3EE;
    color:black;
}


/*configuring below for mobile screens*/
@media screen and (max-width: 768px){
  .countdownContainer{
    display:none;
  }
  .titleText{
    display:none;
  }
  .page-header{
    height:350px;
  }
  #slides{
    display:none;
  }
  .twitter{
    margin-top:350px;
  }
    .navbar{
    margin-left:auto;
    margin-right:auto;
  }
  .topSpace{
    margin-top:100px;
  }
    .formTop{
    margin-top:400px;
  }
  .homeImage{
    height:20%;
    width:20%;
    float:left;
    padding:10px;
  }
  .registerImage{
    width:20%;
    display:block;
    float:right;
  }
  .marathonvideo{
    width:100%;
    border-style:groove;
    border-width:8px;
    border-color:blue;
  }
  .sponsors{
    width:50%;
    height:50%;
    margin-left:25%;
    margin-top:15px;
    background-color:white;
  }


}
@media screen and (min-width: 768px) and (max-width:990px) {
  .page-header {
    height:400px;
  }
  #slides{
    height:400px;
  }
  .topSpace{
    margin-top:40px;
  }
  .topTitle{
    margin-top:100px;
  }
  .formTop{
    margin-top:200px;
  }
  .homeImage{
    height:25%;
    width:25%;
    float:left;
    padding:20px;
  }
  .registerImage{
    width:30%;
    display:block;
    padding:20px;
    float:right;
  }
  .marathonvideo{
    width:100%;
    border-style:groove;
    border-width:8px;
    border-color:blue;
  }
  .bannerimg{
    height:100px;
    width:300px;
  }
  .sponsors{
    width:50%;
    height:50%;
    margin-left:25%;
    margin-top:15px;
    background-color:white;
  }
}
@media screen and (min-width: 990px) and (max-width: 1200px){
  .page-header {
    height:600px;
  }
  #slides{
    height:600px;
  }
  .topSpace{
    margin-top:40px;
  }
  .topTitle{
    margin-top:100px;
  }
  .formTop{
    margin-top:150px;
  }
  .homeImage{
    margin-top:10px;
    height:100%;
    width:100%;
  }
  .registerImage{
    width:40%;
    display:block;
  }
  .marathonvideo{
    width:560px;
    height:315px;
    border-style:groove;
    border-width:8px;
    border-color:blue;
  }
  .bannerimg{
    height:150px;
    width:450px;
  }
  .sponsors{
    width:90%;
    height:200px;
    padding:5%;
    /*margin:5px;*/
    /*margin:30px;*/
    background-color:white;
  }
}
@media screen and (min-width: 1200px){
  .page-header {
    height:600px;
  }
  #slides{
    height:600px;
  }
  .topSpace{
    margin-top:20px;
  }  
  .formTop{
    margin-top:100px;
  }
  .homeImage{
    margin-top:10px;
    height:100%;
    width:100%;
  }
  .registerImage{
    width:40%;
    display:block;
  }
  .marathonvideo{
    width:560px;
    height:315px;
    border-style:groove;
    border-width:8px;
    border-color:blue;
  }
  .bannerimg{
    height:200px;
    width:600px;
  }
  .sponsors{
    width:90%;
    height:200px;
    padding:5%;
    /*margin:5px;*/
    /*margin:30px;*/
    background-color:white;
  }
}





/*header styles*/
.navbar-default{
  /*background-color: rgba(20, 140, 11, 0.73);*/
  background-color:#7D1935;
  /*border-color:#282828;*/
  border:none;
  color:white;
}

.navbar{
  margin-bottom:0;
  z-index:10;
  width:100%;
  position:absolute;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  margin-top:20px;
}
.navbar-default .navbar-brand{
  color:white;
  font-size:20px;
}
.navbar-default .navbar-nav>li>a{
  color:white;
  font-size:20px;
}

.navbar-default .navbar-nav>li>a:hover{
  color:black;
  background-color:white;
}
.navbar-default .navbar-nav>li>a:active{
  color:black;
  background-color:white;
}
.page-header {
    width: 100%;
    margin: 0px;
    background: white;
    padding-bottom:0px;
    border-bottom:1px;
}
#slides { 
    position: relative; 
    width: 100%; 
   /* -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);*/
    overflow:hidden;

}
.slideimage{
  width:100%;
  /*height:100%;*/
  padding:0;
}

#slides > div { 
    /*position: absolute; */
    top: 10px; 
    left: 10px; 
    right: auto; 
    bottom: 10px; 
}

.container1{
  padding-left:0px;
  padding-right:0px;
  width:100%;
}
.titleText{
  font-size: 44px;
  font-weight:bold;
  position: absolute;
  z-index:10;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2.00px; 
  background-color: white;
  /*rgba(211, 211, 211, 0.8);*/
  margin-left:25px;
  padding:10px;
  top:60px;
  opacity:.75;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}




.countdownContainer{
  top:80px;
  position:absolute;
  right:10px;
  z-index:10;
  opacity:0.8;

}
.noCountdown{
  width: 140px; 
  border: 1px solid rgb(204, 204, 204); 
  text-align: center; 
  color: rgb(249, 249, 255); 
  font-weight: bold; 
  font-size: 12px; 
  background-color: rgb(25, 24, 31);
}
/*header scrolling animation*/
/*keyframe animations*/
.first {
    -webkit-animation: bannermove 80s linear infinite;
       -moz-animation: bannermove 80s linear infinite;
        -ms-animation: bannermove 80s linear infinite;
         -o-animation: bannermove 80s linear infinite;
            animation: bannermove 80s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
 	/*adjusted the demo of 2125 to 3460 which is the cumulative widths of all non-repeatign images plus 50px for the margin for smooth transition*/
    margin-left: -3460px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3460px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3460px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3460px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3460px;
 }
 
}
/*styling for twitter and facebook connect*/
.twitter{
  height:60px;
  width:60px;
}

/*.rightSpace{
  margin-right:30px;
}*/

/*styling for the home page content*/
.mainButton{
  margin:5px;
}

.sponsorthank{
  color:white;
  font-size:20px;
  text-align:center;
}
.sponsorHover img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
 
    /*-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);*/
}
.footer{
  background-color:#4A96AD;
  padding:10px;
}
.centered{
  margin-left:auto;
  margin-right:auto;
}
/*styling for results page*/
.results{
  overflow:auto;
  border:5px ridge gray;
}
/*styling for parking map page*/
.map{
  width:100%;
  height:800px;

}
/*styling for course description page*/





/*testing tabs below*/

.ultab {
    list-style: none;
    padding: 0;
    margin: 0;
}
.litab {
    float: left;
    /*border: 1px solid #000;
    border-bottom-width: 0;*/
    /*margin: 3px 3px 0px 3px;*/
    padding: 5px 5px 0px 5px;
    background-color: #4A96AD;/*#CCC;*/
    color: #F5F3EE ;/*#696969;*/
    font-size:24px;
    border-radius:5px;
    width:200px;
    height:50px;
    text-align:center;
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    -webkit-box-shadow: 3px -3px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px -3px 10px rgba(50, 50, 50, 0.75);
    box-shadow:         3px -3px 10px rgba(50, 50, 50, 0.75);
}
.animateTitle{
  font-size:48px;
    -webkit-animation-name: grow; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: grow;
    animation-duration: 2s;
}
@keyframes grow{
    from {font-size:36px;}
    to {font-size:48px;}
}

#mainView {
  /*  border: 1px solid black;*/
  background-color:lightgray;
  clear: both;
  padding: 0 1em;
}
.active {
    /*background-color: rgba(20, 140, 11, 0.73); /*rgba(20, 140, 11, 0.73); /*#FFF;*/
    /*color: white;*/
    background-color: #7D1935;/*white;*/
}
.importantMessage{
  color:red;
  font-weight:bold;
}
.orangeHeader{
  /*color:orange;*/
  color:#7D1935;
  text-decoration: underline;
}
p{
  font-size:20px;
}
.centeredText{
  text-align:center;
}
.courseMap{
  width: 100%;
  height:400px;
}

input{
  width:50%;
}
textarea{
  width:100%;
}
.panel{
  width:50%;
  margin-left:auto;
  margin-right:auto;
}
.commonInfo{
  padding:20px;
  background-color:#F5F3EE;
}
.raceInfoPics{
  width:80%;
  padding:20px;
}


.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active {
          color: #555555;
          cursor: default;
          background-color: white;
          border: 1px solid #dddddd;
          border-bottom-color: transparent;
          } 

